[2018-05-07 13:28] HEBOS opened #1 "Compatibility with Angular 5"
Hi,

I'm trying to implement your package into Angular 5 application. However, it doesn't work.
Can you please see what I need to do to make it work.
I followed your tutorial, but I'm getting the following message:

[code]

Thanks

[2018-05-07 14:18] codehippie1 commented on #1
Seems like you fail to configure it properly. Check and make sure your
app.module.ts has declarations and imports as specified in the guide.

Code

On Mon, May 7, 2018, 9:28 AM Hrvoje Matić <notifications@github.com> wrote:

[2018-05-08 21:30] HEBOS commented on #1
Since my component, that uses PdfJsViewerComponent, is owned by one lazy downloaded module, I needed to put it into that module, and then it works in development mode.
However, when I try to build it with "ng build --extract-css --prod --build-optimizer", I get the the build error.
Can you please advice what to do?

Here is the error log:
ERROR in : Type PdfJsViewerComponent in U:/MongoPlus/MongoP

[2018-05-09 19:32] codehippie1 commented on #1
It looks like you are delaration of "PdfJsViewerComponent" is repeated. If you can post a working version of issue in plunker/or other hosting sites, I may be able to help.

[2018-05-09 21:37] HEBOS commented on #1
Hi,
You can grab it from [here](https://1drv.ms/u/s!ArCs7A3yxQw8rHHanD8Ij1eMjKP8), and please let me know, once you download it, so I can remove it.

Thanks

[2018-05-10 02:13] xiaoxiao95888 commented on #1
have same problem

[2018-05-11 15:45] codehippie1 commented on #1
@HEBOS  I will look into the sample you provided, and get back

[2018-05-11 15:48] codehippie1 commented on #1
@HEBOS unfortunately, the link you have provided is blocked at my work(stating Personal Network Storage). Would you be able to upload sample code elsewhere?

[2018-05-11 18:33] HEBOS commented on #1
[Here](http://www.ibicom.hr/ClientApp.zip) is a web download. I hope it will work.

[2018-05-14 18:18] codehippie1 commented on #1
@HEBOS Unfortunately I was unable to reproduce the issue. Since the cli in your sample was ~1.7.3 and I use cli > 6.0.1, I created a new angular 6 template app and tried to reproduce the issue. The pdfjs viewer worked just fine. For your reference, I have uploaded the sample app under "sample" folder in this repository.

[2018-05-18 16:13] codehippie1 commented on #1
@HEBOS  @xiaoxiao95888 Since there is no further updates on this thread, assuming all is well. Closing the issue. Please refer to the demo app 'ng6SampleApp' in the repository for angular usage.

[2018-05-20 13:16] HEBOS commented on #1
Hi,

Can you please reopen this issue, and try to resolve it.
I have an update now. It took me some time to update the project to 6.0.

I see you've added project for Angular 6 in this repository, so this will be now much easier to solve.
Did you try to build it using:
**ng build --prod --build-optimizer --output-hashing media**

You will get the same error, but everything works fine if you build

[2018-05-21 15:37] codehippie1 commented on #1
@HEBOS Good find. I am looking into your inputs now.

[2018-05-21 23:00] codehippie1 commented on #1
@HEBOS Good catch. Not only I reproduced the issue, I have fixed it. Stranger ways cli produces different results on 'prod' and 'non-prod' builds.
1. I have added a getter to `pdfSrc` instead of making `src` public. (Still renamed the variable to `innerSrc` as per your suggestion for better readability.)
2. Published version 0.2.20 with fix
3. Updated sample app with proper configurations.

Please

[2018-05-22 16:37] codehippie1 commented on #1
@HEBOS npm is going through a bit of downtime now. Please refer to this issue opened an hour ago. https://github.com/npm/npm/issues/20714

[2018-05-25 19:31] codehippie1 commented on #1
@HEBOS As I haven't heard from you, closing this issue. Let me know if you face any problems.

[2018-05-25 19:31] #1 closed

[2018-06-02 05:46] shakram02 opened #2 "PDF viewer height issue"
Hello,

The pdf viewer appears in an extremely small height.

![image](https://user-images.githubusercontent.com/10996982/40871289-2d152f78-6639-11e8-8d4f-9781e144c162.png)

`HTML`

![image](https://user-images.githubusercontent.com/10996982/40871270-e3e4e3d4-6638-11e8-8b83-ec4b22d599ae.png)

`TS`

![image](https://user-images.githubusercontent.com/10996982/40871276-f24c1c4e-6638-11e8-831a-972848a

[2018-06-04 16:07] codehippie1 commented on #2
Let me take a look

[2018-06-04 16:29] codehippie1 commented on #2
As a quick fix, set height of your container to `900px`, like below. [And optionally flip its visibility till button is clicked to load pdf]

<div style="height: 900px;">
  <ng2-pdfjs-viewer #pdfViewer></ng2-pdfjs-viewer>
</div>

[2018-06-04 18:10] codehippie1 commented on #2
It makes more sense for the viewer to adapt the size of the container. I have updated the samples to reflect a case like yours. Closing the issue for now. Keep me posted if this suffice.

[2018-06-04 18:10] #2 closed

[2018-06-04 23:51] shakram02 commented on #2
Thanks!,  I'll tell you

[2018-06-05 09:17] amrishashok opened #3 "Get current page number programmatically"
Is there a way to get current page number and set a page number programmatically

[2018-06-06 08:29] shakram02 commented on #2
It's working with the fix. But this won't play well with mobile devices I guess

[2018-06-08 09:10] GoodPotato opened #4 "How to use Uint8 pdf format inside pdfSrc tag to display PDF"
In my pdf.component.ts, pdfData property is pdf (base64 format), which is converted to Uint8 format. When I assign it to pdfSrc (inside .html file), the src is then "assets/pdfjs/web/viewer.html?file=<Uint8 format of pdf>", and therefore on my page the PDF is not loaded -> it throws an error that PDF file is missing. How can I make it that when I put Uint8 to pdfSrc, it will display the PDF inside

[2018-06-12 07:21] pupipipu opened #5 "Compability with Angular 4"
Hi there!

I got "ERROR in Metadata version mismatch found version 4, expected version 3". Angular 4 package is still using version 3 for now. Would you mind me forking the library and re-publishing it for angular 4 (with module version 3)?

Thanks

[2018-06-18 21:27] codehippie1 commented on #4
This should be straightforward, try something like below. The src needs to be set dynamically like below.

[code]

[2018-06-18 21:28] codehippie1 commented on #5
This should support Angular 2 and above. Please send or upload a working version where I can reproduce this issue

[2018-06-18 21:30] codehippie1 commented on #3
This should be possible. I may need to change the interface to support this. It would be a bit before I get to this as I am pretty occupied with another project. You can download the source and try it or wait for me to add this.

[2018-06-25 09:08] amrishashok commented on #3
Thanks for replying. I will try to implement this function. I have another question, is it possible to wait for a PDF to load before executing my function.

[2018-06-26 22:29] codehippie1 commented on #3
You need to look at PDFApplication usage within pdfjs to get events on pdf finished loading.

[2018-06-26 22:29] #4 closed

[2018-06-26 22:29] codehippie1 commented on #4
Closing as an example is provided

[2018-06-27 11:31] amrishashok commented on #3
Ok thanks, I will look into that.

[2018-06-28 20:47] hexadecy opened #6 "Use PdfJsViewerModule with es5 global"
### How to import when using es5 and global variable?
['ng2-pdfjs-viewer'].PdfJsViewerModule
ng2PdfjsViewer.PdfJsViewerModule
ect ....

index.html:
`<script src="scripts/ng2-pdfjs-viewer/ng2-pdfjs-viewer.umd.js"></script>`

app.js:
[code]

Error:
[code]

[2018-06-29 18:47] hexadecy commented on #2
In my case, I use:
[code]

[2018-06-29 19:41] codehippie1 commented on #6
Would you be able to upload/share a code sample where this issue is reproducible?

[2018-07-02 03:17] hexadecy commented on #6
https://codepen.io/hexadecy-qc/pen/bKzxvq
You will see the errors in your browser console, the codepen console show nothing.
I don't know how the access the global['ng2-pdfjs-viewer'], normally it's more like global.ng2pdfjsviewer.

https://blog.thoughtram.io/angular/2015/05/09/writing-angular-2-code-in-es5.html

[2018-07-03 20:24] hexadecy opened #7 "Call print onload"
How to call print after the pdf is loaded.

I use this hack, but the page is not scaled properly:
[code]

[2018-07-05 17:16] codehippie1 commented on #7
I have not exposed an interface to do so yet, But as I am receiving many requests on interacting with PDF, I will soon pick these up. Meanwhile look at the PDFApplication underneath and use it to print/navigate pdf etc

[2018-07-05 17:17] codehippie1 commented on #6
I will have a look and keep you posted

[2018-07-06 19:58] hexadecy commented on #7
Better hack for now:
[code]
[code]

[2018-08-06 20:55] aleshchenko opened #8 "Impossible to open pdf file with URL that contains parameters"
Viewer removes parameters from the pdf URL. Consider using URL like http://my.api/get?id=123&name=test

[2018-08-08 09:50] MeTushar opened #9 "Not opening pdf stored in aws S3"
Not able to open pdf hosted in the foreign domain. Getting cors error. Is there any option to load pdf hosted in aws s3?

[2018-08-08 16:01] aleshchenko opened #10 "No way to set custom error message"
[code]

[2018-08-08 22:47] codehippie1 commented on #8
This is a valid request, I will update the component.

[2018-08-08 22:49] codehippie1 commented on #10
What are you trying to achieve here? I do not think 'setError' is a valid method on this component

[2018-08-08 22:52] codehippie1 commented on #9
Please post all relevant code and errors

This issue is not specific to this component. Have you tried to use jsonp or something similar?
Another way to approach the problem might be to use iframes.

[2018-08-08 22:53] codehippie1 commented on #6
I did not get much time to look into this one, (my experience with es5 global is limitted as well). Have you got this resolved?

[2018-08-09 01:08] hexadecy commented on #6
I finally go to es6 with a mix of ng serve with (--base-href=/pdfview/) and nginx as a reverse proxy. As I don't want to convert the old Angular.Js es5 app yet.

[2018-08-16 00:37] #6 closed

[2018-08-16 00:38] #7 closed

[2018-08-22 09:55] jiangyh1024 opened #11 "How to support Angular4"
My angular version is 4.4.7. When starting the project, the error throws:

ERROR in Metadata version mismatch for module C:/software/project/lazy/node_modules/ng2-pdfjs-viewer/ng2-pdfjs-viewer.d.ts, found version 4, expected 3, resolving symbol AppModule in C:/software/project/lazy/src/app/app.module.ts, resolving symbol AppModule in C:/software/project/lazy/src/app/app.module.ts

it seems the Met

[2018-08-22 13:30] OmarBelguith opened #12 "openFile, viewBookmark and download are not assigned if <ng2-pdfjs-viewer> is inside modal"

[2018-09-01 16:43] sai2812 opened #13 "compatibility with IE 11"
your angular sample code  as well as application  does not work in IE 11 can you please check it once... its showing error

[2018-09-03 09:14] KlausHans commented on #13
You'll need to uncomment some Polyfills in the polyfill.ts file of the Angular application. It Works in IE11.

[2018-09-03 09:21] KlausHans opened #14 "No Base64 support?"
If i am not mistaken, the package doesn't support a pdf file in base64 encoding. But pdf.js does.
It looks like this:
![grafik](https://user-images.githubusercontent.com/9212982/44978630-78ed9e00-af6b-11e8-9570-f04f3de80c33.png)

[2018-09-12 14:39] codehippie1 commented on #14
This package internally uses pdfjs. Can you attach the pdf you are trying to open

[2018-09-12 14:40] codehippie1 commented on #13
@KlausHans Thanks for the response. Would you be able to comment with the exact lines you needed to comment to make it work for IE11

[2018-09-12 14:40] codehippie1 commented on #12
@OmarBelguith The issue description does not provide adequate info. What are you trying to do?

[2018-09-12 14:41] codehippie1 commented on #11
@jiangyh1024 Can you provide a simple working version where I can reproduce this issue

[2018-09-13 13:49] KlausHans commented on #13
Of course. In the polyfills.ts (same level in the angular project like the index.html) just uncomment the import lines:

/** IE9, IE10 and IE11 requires all of the following polyfills. **/
 //import 'core-js/es6/symbol';
 //import 'core-js/es6/object';
 //import 'core-js/es6/function';
 //import 'core-js/es6/parse-int';
 //import 'core-js/es6/parse-float';
 //import 'core-js/es6/number';
 //import

[2018-09-13 14:09] KlausHans commented on #14
I could solve it by converting the base64 to Uint8array by hand with the following function:
[code]

Yes, pdf.js can handle base64. But apparently your angular wrapper does not. I did not investigate why.

[2018-09-13 14:16] KlausHans commented on #14
Here's a sample pdf in base64:
[code]
To get it working with the function i posted above you'll need to strip "data:application/pdf;base64," away.
Btw, you can convert any file to base64 with this webservice: https://jpillora.com/base64-encoder/

[2018-09-19 17:15] codehippie1 commented on #14
@KlausHans Thanks for the update. This project is a wrapper over Mozilla's viewerJS(Which internally uses pdfjs). Hence it would only be able to support what ViewerJS would. Having said that, your solution is an alternate approach to solve the problem. Thank for that and it would certainly be useful for others.

[2018-09-19 17:19] codehippie1 commented on #13
Marking this as solved. Added relevant labels for others to find it easy.

[2018-09-19 17:19] #13 closed

[2018-09-19 17:20] codehippie1 commented on #14
Marked with relevant labels as this could be useful for others. Closing now.

[2018-09-19 17:20] #14 closed

[2018-09-19 17:20] #12 closed

[2018-09-19 17:20] codehippie1 commented on #12
Adequate information is not provided to solve this.

[2018-09-20 08:27] KlausHans opened #15 "No fullscreen button"
I miss the fullscreen button, as seen here: http://mozilla.github.io/pdf.js/web/viewer.html

Any chance to add this option?

Another, slightly off topic question: How do you know the url options for the Mozilla viewer? I did not found them in the official documentation.
I tried to use the latest version of gh-pages and the options doesn't work there at all ~~(but the fullscreen button is visible a

[2018-09-20 08:57] KlausHans commented on #15
Hm, seems to be a issue with the gh-pages. In Chome the fullscreen button is shown but not in Firefox or Edge.

[2018-09-20 16:05] codehippie1 commented on #15
Thanks for the suggestion. Will look into this.

[2018-09-22 18:39] ani2479 opened #16 "Angular 6"
Hi,

I'm trying to use this on my CLI-Project. I copied the pdfjs folder on my assets, but it keeps saying that 'ng2-pdfjs-viewer' is not a known element:
1. If 'ng2-pdfjs-viewer' is an Angular component, then verify that it is part of this module.

Any ideas? I imported on app.module.ts and nothing.

Thank you in advance

[2018-09-22 19:35] ani2479 commented on #16
I fixed.

Thank you

[2018-09-22 19:35] #16 closed

[2018-09-22 19:44] ani2479 commented on #9
Hi,

I'm also trying to get an AWS file to display it.

Any news on this? I know I'm getting issues with CORS and trying to configure my bucket with this, but I'm still getting errors.

https://docs.aws.amazon.com/AmazonS3/latest/dev/cors.html

Thank you in advance.

[2018-09-27 09:43] aleshchenko commented on #10
the idea is to have something like this with custom message:
![error](https://user-images.githubusercontent.com/4508521/46137742-ef23ae80-c252-11e8-8918-a3ee19603a90.png)

[2018-10-04 23:40] adecass commented on #11
I'm having the same issue using Angular 4...  Is this resolved?

ERROR in Error: Metadata version mismatch for module ng2-pdfjs-viewer/ng2-pdfjs-viewer.d.ts, found version 4, expected 3
    at StaticSymbolResolver.getModuleMetadata (node_modules\@angular\compiler\bundles\compiler.umd.js:25586:34)
    at StaticSymbolResolver._createSymbolsOf (node_modules\@angular\compiler\bundles\compiler.umd.js:2

[2018-10-05 13:54] adecass commented on #11
Here's the package.json for a new Angular 4 project.  However, the outcome hasn't changed.
**ERROR in Error: Metadata version mismatch for module ng2-pdfjs-viewer/ng2-pdfjs-viewer.d.ts, found version 4, expected 3**

{
  "name": "ng4-slow-build",
  "version": "0.0.0",
  "license": "MIT",
  "scripts": {
    "ng": "ng",
    "start": "ng serve",
    "build": "ng build",
    "test": "ng test",
    "li

[2018-10-08 07:13] jiangyh1024 opened #17 "How to direct to a certain page programmatically"
How to direct to a certain page programmatically.
For example, if I set the pageNumber, it should direct to that page

[2018-11-01 19:40] javid-abd commented on #9
Could you please share your code?

[2018-11-01 21:14] Sri2468 commented on #17
Any update on this feature

[2018-11-02 08:16] javid-abd commented on #8
I'm tracking this issue. When can it be updated?

[2018-11-03 12:52] ani2479 commented on #9
I found the solution, thanks.

I just sent from my api the PreSigned URL and it is working now

[2018-11-04 20:30] javid-abd commented on #9
Then I assume the issue can be safely closed

[2018-11-05 04:34] manikumarbhasuri commented on #9
Hi, I am using Pre Signed URL to display  the S3 URL. For some reason i am getting the below error

file origin does not match viewer\'s

Can you please guide me here.

[2018-11-13 14:15] simandi opened #18 "500 servrer error in IE11"
Facing below error while opening PDF in IE11.

PDF.js v2.0.428 (build: 6662985a)
Message: Unexpected server response (500) while retrieving PDF "blob:3DFCCA27-0A17-460F-82BC-29DB796BE3BB".

working fine in other browsers(Chrome, FF and Edge).

[2018-11-17 02:30] nhuemne2012 opened #19 "How support event pinch zoom in mobile"

[2018-11-19 18:16] codehippie1 commented on #19
This wraps Mozilla's PDFJS. If pdfjs supports this functionality, it should be available. You may track the progress here https://github.com/mozilla/pdf.js/issues/2582

[2018-11-19 18:16] #19 closed

[2018-11-19 18:17] codehippie1 commented on #19
Out of scope as per previous comment.

[2018-11-19 18:18] codehippie1 commented on #17
Unfortunately, not much updates yet. I am quite occupied and possibly gets this done in early december.

[2018-11-19 18:20] codehippie1 commented on #10
I get it now. Will have to check how to pass it to the underlying control.

[2018-11-19 19:04] javid-abd commented on #9
I'm not using this package, if you have specific errors, please share your code

[2018-11-28 17:22] Sri2468 commented on #17
Thanks

[2019-01-10 13:47] Jefiozie opened #20 "Upgrade to angular v7"
Hi,

Will this libary be update to the new angular version '7' soon?

Thanks!

[2019-02-14 20:57] stephanrauh opened #21 "Let's mention each other's project in the README.md"
It seems we've started the same project simultaneously and independently of each other. Would you mind to mention my project in the readme file? In return, I'd do so, too. Plus, I'd like to blog about your project.

Project coordinates:
https://www.npmjs.com/package/ngx-extended-pdf-viewer
https://github.com/stephanrauh/ngx-extended-pdf-viewer

[2019-02-25 19:00] JWess opened #22 "Use minified versions of pdfjs *.js dependencies"
When the pdfjs viewer gets loaded, it loads the following three large JS files:
![image](https://user-images.githubusercontent.com/8697891/53360777-765d7700-3904-11e9-8663-7135ffe2f1f5.png)

It would be nice if the component defaulted to use the minified versions of these files to save load time. The minified versions of each of the three files are located here:
https://github.com/mozilla/pdfjs-di

[2019-03-09 09:26] prashanthyD commented on #2
i am unable to get height of ng2 pdfjs viewer from my welcome component

[2019-03-14 20:45] stephanrauh commented on #21
@codehippie1 May I "ping" you?

One of the thing fascinating me about open source is that the open source communities are so open and welcoming. So I'd like to support your project, even if it's the direct competition of my project. But before doing that, I'd like to reach out to you. So I'm waiting for your "ping back".

Thanks in advance,
Stephan

[2019-03-28 16:51] codehippie1 commented on #21
Hey Stephan,

Been away for a long time. Thanks for writing to me.

In open source world; there are no competitions. It is just some of us have
too much time in our hand to do similar work. underscore and lodash, react
and angular - the list goes on. :-)

I created the library as a result of below discussion. I never found a
generic library, hence gone ahead and wrapped the code to help others.
ht

[2019-03-28 18:54] stephanrauh commented on #21
Thanks for the kind words! You're right about the "too much time" bit. I wrote my library in a professional setting, but chose to do it in my spare time. That allowed me to publish the library. I believe it was worth it, but "too much time to spare" nails it. :)

[2019-03-28 18:58] stephanrauh commented on #21
BTW, I just looked at your implementation. I hoped I can learn one or two things. Whow, you've simply wrapped the PDF viewer in an iFrame? That's a clever solution. It also explains why your viewer is more reliable than my viewer (if I'm to believe the complaints in the bug list). So we've got two radically different approaches. Awesome!

[2019-04-02 07:09] Jeya-Prakash opened #23 "Load pdf with specified pages"
Hi , Is there any option to load the particular specified pages alone?
For example:
How to load [2nd] (or) [2nd and 3rd] page alone in the PDF viewer from a 7 page PDF document

[2019-04-04 09:42] Jeya-Prakash commented on #23
@codehippie1 Hi waiting for your reply :)

[2019-04-04 19:31] codehippie1 commented on #23
Hi Jeya. I don't think it is straight-forward to achieve it with this component. You may need to use the pdfjs directly or get hold of the underlying component in viewerjs.

[2019-04-04 19:32] codehippie1 commented on #23
I will look into the exposed features of pdfjs and try to incorporate it if it is a feature supported at core level. This might take a while.

[2019-04-05 05:12] Jeya-Prakash commented on #23
Thanks alot.

[2019-04-11 16:36] codehippie1 commented on #21
Added a ref to your project.

[2019-04-11 20:09] stephanrauh commented on #21
Awesome, thanks!

[2019-04-22 13:08] Luiz-Otavio-Dorigon opened #24 "Change default locale"
I would like to know how to switch between 2 local pt-BR and en-US?

[2019-04-30 09:39] Jeya-Prakash opened #25 "Capture pdf finished loading event in angular 2"
How to capture pdf finished loading event in angular 2 ?

[2019-05-06 10:34] uamrit opened #26 "How to set Zoom 100% instead of Automatic"
How to set Zoom 100% instead of Automatic in this library

[2019-05-15 15:20] codehippie1 commented on #9
As the OP found the answer, closing this issue

[2019-05-15 15:20] #9 closed

[2019-05-15 17:07] codehippie1 commented on #22
I started working on this. Will have a new updated build available soon. @JWess Thanks for the suggestion on README.

[2019-05-15 17:07] codehippie1 commented on #20
@Jefiozie This is underway. A new version will be available soon.

[2019-05-15 17:08] codehippie1 commented on #18
@simandi Does the sample application fails on IE11? If not, would you be able to provide a sample where the issue is reproducible?

[2019-05-15 17:09] codehippie1 commented on #17
@Sri2468 I picked up this item. Might need few changes on underlying pdfjs js files. Will provide an update as soon as this is implemented.

[2019-05-15 17:11] codehippie1 commented on #15
@KlausHans  Implementing a parameter way to turning off full screen options. Will soon have an update

[2019-05-15 17:13] codehippie1 commented on #10
@aleshchenko @bbrunda I started upgrading the package to ng 7. Will try to implement this as part of the upgrade.

[2019-05-15 17:14] codehippie1 commented on #5
As there are no updates from OP, closing this issue

[2019-05-15 17:14] #5 closed

[2019-05-15 17:15] codehippie1 commented on #8
@aleshchenko @javid-abd This is being implemented

[2019-05-15 17:16] codehippie1 commented on #3
@amrishashok This is being implemented

[2019-05-26 00:32] MarkPieszak commented on #20
Was this one updated in the latest commits by any chance?
I was looking through them but I wasn't sure - just wanted to double check! @codehippie1

[2019-05-26 00:59] codehippie1 commented on #20
@MarkPieszak - Big fan. I am honored and humbled to have you write to me. Most of my new projects are built around your aspnetcore angular repos.

To answer your question, YES - It is updated to angular 7. Though I finished implementation, since it is being Memorial day weekend, I didn't get a chance to update till now.

[2019-05-26 01:01] codehippie1 commented on #26
Zooom is available now. Not only Percentage, several other options are supported. Test and provide feedback.

[2019-05-26 01:01] codehippie1 commented on #26
As per above comment, closing the issue.

[2019-05-26 01:01] #26 closed

[2019-05-26 01:02] codehippie1 commented on #25
I just started looking into it. This will be available in next release.

[2019-05-26 01:02] codehippie1 commented on #24
Let me look into it. Will have an update in few days.

[2019-05-26 01:04] codehippie1 commented on #22
@JWess The minified versions of js files are available now. A gulp task is added.

[2019-05-26 01:05] #21 closed

[2019-05-26 01:07] codehippie1 commented on #18
Looks like missing polyfills?

[2019-05-26 01:09] codehippie1 commented on #17
@jiangyh1024 @Sri2468 - This is implemented. Not only you would be able to go to a specific page, added a feature to go to named destination(section) as well. Also you may choose to go to last page using another feature(For a signature, maybe?)

[2019-05-26 01:10] codehippie1 commented on #15
@KlausHans This feature  is available now using [fullScreen]

[2019-05-26 01:10] #15 closed

[2019-05-26 01:11] codehippie1 commented on #11
Closing this issue of no activity. Use the latest package(Upgraded to angular 7) and if this issue still exists, let me know.

[2019-05-26 01:11] #11 closed

[2019-05-26 01:12] codehippie1 commented on #10
Upgraded to angular 7. @aleshchenko @bbrunda Expect this implementation in the coming week.

[2019-05-26 01:14] codehippie1 commented on #8
@aleshchenko @javid-abd None of the parameters should be removed now. If this issue still exists, give me a sample of all the options and url you are trying to use.

[2019-05-26 01:15] codehippie1 commented on #3
@amrishashok You can set page number now. Also you can set named destinations. Other requests are not yet implemented.

[2019-05-26 12:47] stephanrauh commented on #21
The entire section mentioning other projects has vanished. Did you delete that by mistake?

[code]

[2019-05-27 04:43] amrishashok commented on #3
Thanks!

[2019-05-27 09:36] agegendo opened #27 "npm release version 1.0.1"
Hi,

I would like to know why

`npm install ng2-pdfjs-viewer --save`

always installs version 0.2.29. As I can see in your package.json, the most recent version should be 1.0.1, correct? If so, it seems that this version was not yet published to npm. Could you let me know when this will be done?

Thanks in advance, Andreas

[2019-05-28 16:19] codehippie1 commented on #27
I just tried `npm install ng2-pdfjs-viewer --save` on a new project. It installed version 3.2.0 ("`ng2-pdfjs-viewer": "^3.2.0`",) and added this entry on `package.json`.

This is the latest version. I am closing this issue as it is not reproducible.

[2019-05-28 16:19] #27 closed

[2019-05-28 16:20] codehippie1 commented on #20
As per the above comment, this is completed. Hence closing this issue.

[2019-05-28 16:20] #20 closed

[2019-05-28 16:25] codehippie1 commented on #18
@simandi Can you try the lastest version and provide an update now?

[2019-05-29 07:17] agegendo commented on #27
Thanks for responding so quickly! After completely uninstalling version 0.2.29 first I managed to make a fresh installation of version 3.2.5. So the issue was only with my specific setup.

[2019-05-29 14:15] codehippie1 commented on #22
@JWess Your suggestion is also incorporated in README. Closing this issue

[2019-05-29 14:15] #22 closed

[2019-05-29 23:18] MarkPieszak commented on #20
Thank you for the kind words @codehippie1 	!! 🙏
It makes me so happy to hear that!

If you have any public apps built with it shoot me some links I'd love to take a look!

Thanks so much, I can switch over to use this Lib now :)

You rock 🎸

[2019-05-31 19:55] codehippie1 commented on #20
@MarkPieszak I used your aspnetcore angular repo for most of my projects at work, and since I work for a govt org, I do not have a public facing portal/nor opensource code which I can share with you.

But to give you an idea of how I used your repos, and I did stretch it as much as I can
1. Built an app couple of years back where web project based on your repo(aspnet core), where all referenced dl

[2019-06-01 19:30] mvmjacobs opened #28 "Compability with Angular 8"
Hi,
Is there any plans to upgrade this libary to Angular 8?
Thanks!

[2019-06-03 08:13] agegendo opened #29 "Can't show/hide buttons in new version 3.2.5"
Hi,

I'm having trouble showing and hiding the buttons that are being displayed at the top of the PDF-viewer.

This doesn't work in Html:

`<ng2-pdfjs-viewer [openFile]="false"
                      [download]="false"
                      [externalWindow]="false">
    </ng2-pdfjs-viewer>`

but also not in TypeScript:

`this.pdfViewer.openFile = false;
        this.pdfViewer.download = false;

[2019-06-03 16:14] codehippie1 commented on #29
Looking into it,

[2019-06-03 16:14] codehippie1 commented on #28
Working on this

[2019-06-03 16:15] codehippie1 commented on #8
As there are no activity on this thread, assuming issue is resolved. Closing

[2019-06-03 16:15] #8 closed

[2019-06-04 14:49] codehippie1 commented on #29
@agegendo This is fixed an d a new version is released

[2019-06-04 14:49] #29 closed

[2019-06-04 14:50] codehippie1 commented on #28
@mvmjacobs Upgrade to angular 8 is completed. A new version is released.

[2019-06-04 14:50] #28 closed

[2019-06-06 07:07] agegendo commented on #29
Great, thanks!

[2019-06-06 19:40] Luiz-Otavio-Dorigon commented on #24
I give up waiting :(

[2019-06-07 07:59] vunb opened #30 "Listen event after print"
Hi, how to listen events from `ng2-pdfjs-viewer`? I want to listen event `afterPrint` to close the preview form automatically. Please suggest me how to do this?

[2019-06-18 19:13] ihorbond commented on #11
@codehippie1 Hi I have just come across the same issue running Angular 4. I tried to replicate on [stackblitz ](https://stackblitz.com/edit/angular-ftyqpe) and while I can't see the build error as I do when I run ng build in my console it doesn't seem to work. Do you know what could be wrong ?

[2019-06-19 04:20] Aumkar opened #31 "Too many console.log() in pdfjs/web/viewer.js"
I can see there is a lot of console.log() in pdfjs/web/viewer.js added for testing purposes. Can we please have them removed? It is unnecessarily spamming console output in the developer's mode of browser

[2019-06-19 14:49] Aumkar commented on #31
If you want, I can send PR for the same

[2019-06-21 16:08] codehippie1 commented on #31
I will remove them in the next build. Thanks for letting me know

[2019-06-21 16:09] codehippie1 commented on #30
Let me have a look at it. If it is straightforward to achieve it, I will include this as part of one of upcoming builds.

[2019-06-21 16:10] codehippie1 commented on #25
Unfortunately I couldn't include it in the last release. My focus is shifted to events now, expect this in one of upcoming builds.

[2019-06-21 16:11] codehippie1 commented on #10
Sorry for the delay. Being looked at now.

[2019-06-21 16:14] codehippie1 commented on #11
I tried to access the stackblits link you provided and got a message, "Yikes! The page you requested couldn't be found."

[2019-06-24 11:30] MarkPieszak commented on #2
For others who might run into this.
Try and use a templateRef on a parent div, `<div #wrapper>`, grab it via `@ViewChild('wrapper') private wrapper: ElementRef` and inside ngAfterViewInit() update the style.height to something appropriate to the window outerHeight at that moment.

[2019-06-25 09:42] masashiyoshiwara opened #32 "How to show PDF in another tab of IE11"
Hello
I am developing an application with Angular7.
I want to view PDF in another tab in IE11 using your library, but it doesn't work.
(I worked fine with Chrome and FireFox.)
The settings are as follows, but are you aware of the cause?

html
[code]

component
[code]

I also checked polyfills.ts and it was as follows.
[code]

[2019-06-25 16:44] codehippie1 commented on #31
console logs are removed. A new build is available in npm,

[2019-06-25 16:44] #31 closed

[2019-06-25 16:44] codehippie1 commented on #10
Finally, this is implemented. Get latest version from npm(As of now v3.4.5)

[2019-06-25 16:45] codehippie1 commented on #10
@aleshchenko @bbrunda  Finally, this is implemented. Get latest version from npm(As of now v3.4.5)

[2019-06-25 16:45] #10 closed

[2019-06-25 20:29] codehippie1 commented on #24
@Luiz-Otavio-Dorigon Sorry for the delay. Unfortunately I am the only developer on this library, it is started as a hobby and went on to have several downloads quite unexpectedly. As I have a regular 9-5er(which is my bread winner), I try to keep this project up to date and bug free using a limited time.

Thanks for understanding, I just fixed this issue.
And once again, sorry for the wait. Hope y

[2019-06-25 20:30] codehippie1 commented on #24
As per above comment, this feature is implemented. Hence closing this issue.

[2019-06-25 20:30] #24 closed

[2019-06-25 20:40] codehippie1 commented on #18
@simandi Did you check the polyfills solution provided on issue #13

[2019-06-25 20:41] codehippie1 commented on #32
@masashiyoshiwara Did you check the polyfills solution provided on issue #13

[2019-07-02 10:14] juliaber2 opened #33 "Difference in print documents - Chrome and IE11"
We generate PDFs and show in Chrome (74.0.3729.169 build) and IE11 (011.0.9600.19377 build) with the ng2-pdfjs-viewer component (3.4.8 version). Both of them show the same results and it's fine. But when we try to print documents, results of printing are different: after Chrome the resulting document looks the same as visible PDF, but in IE11 the resulting document content is shrunked (scaled down

[2019-07-02 12:15] mt1955 opened #34 "Can't resolve '@angular/common' in '../node_modules/ng2-pdfjs-viewer'"
**To reproduce**

[code]

In app.module.ts
[code]

**Issue**

**Version Info**

"ng2-pdfjs-viewer": "^3.4.8",

Angular CLI: 7.2.3
Node: 10.15.0
OS: darwin x64
Angular: 8.0.3

@angular-devkit/architect    0.12.3 (cli-only)
@angular-devkit/core         7.2.3 (cli-only)
@angular-devkit/schematics   7.2.3 (cli-only)
@schematics/angular          7.2.3 (cli-only)
@schematics/update           0.12.3 (cli

[2019-07-02 20:36] codehippie1 commented on #34
@mt1955 Did you get a chance to look at the Demo and Sample app provided as part of repository? They are fully functional.

If the issue still persists, Can you provide a stackblits or source code where I can reproduce the issue.

[2019-07-02 20:39] codehippie1 commented on #33
Have you noticed the same issue on PDFJS viewer site (https://mozilla.github.io/pdf.js/web/viewer.html). If this is a problem underneath(As stated you fixed issue on viewer.css), I suggest you log a bug against PDFJS directly (https://github.com/mozilla/pdf.js)

I will include the fix as part of my PDFjs upgrades

[2019-07-03 13:23] mt1955 commented on #34
re: sourcecode and what was done before reporting this issue

added this to angular.json as per the docs

[code]

@angular/core was installed as per the docs

[code]

What other source code would be helpful?

[2019-07-03 14:55] codehippie1 commented on #34
@mt1955 I tried the steps you mentioned in vein. The issue is not reproducible.

1. Can you download the sample app (https://github.com/intbot/ng2-pdfjs-viewer/tree/master/SampleApp) and try to run and see if the issue is reproducible there?
2. I was asking for a minimally hosted code(like https://stackblitz.com/)  where I can see this issue

[2019-07-04 10:45] Geevo opened #35 "PDFLinkService.navigateTo: "null" is not a valid destination array"
Hi,

I'm receiving an error when trying to navigate to a specific section of a Pdf.

I'm running Electron/Angular 7 using the latest 3.5.1 which uses hashes to navigate routes.

Example: loading the following route
[code]

Then specifying the nameddest
[code]

Perhaps something like this looks to be a similar issue to:
[https://github.com/stephanrauh/ngx-extended-pdf-viewer/issues/71](https://gith

[2019-07-04 13:26] juliaber2 commented on #33
Hi,

I removed all my changes from viewer.css and also @page definition from
PDF document. There is the only one @page definition  in the viewer.js code:

*PDFPrintService.prototype = {  layout: function layout() {
this.throwIfInactive();    var body = document.querySelector('body');
body.setAttribute('data-pdfjsprinting', true);    var hasEqualPageSizes =
this.pagesOverview.every(function (size)

[2019-07-05 18:17] codehippie1 commented on #33
@juliaber2 When you say "example from mozilla site makes the same result in Chrome and
In IE" - Did you mean the scaling down issue is not present on Mozilla's viewer?
As I am using Mozilla's viewer internally, it should behave the same. Can you check the same version of Mozilla's PDFJS viewer as mine and let me know if the issue is reproducible there.

As for the attached documents, how do I retr

[2019-07-05 18:22] codehippie1 commented on #35
@Geevo Let me have a look

[2019-07-07 05:40] juliaber2 commented on #33
What version is used in your viewer ?
We took the latest one. Concerning files, I can put it on my Google disk
and grant you an access. is it suitable ?

On Fri, Jul 5, 2019 at 9:17 PM codehippie1 <notifications@github.com> wrote:

[2019-07-08 03:22] kimhonoridez commented on #8
Still got this issue.

My URL is something like:
http://localhost:88/api/get/pdf?pages=1,2,3,4

[2019-07-10 06:44] shreenil opened #36 "Pass HTTP headers along with URL"
My API is requesting Authorization header to access the files. How do i pass headers while passing URL in `pdfSrc`?

[2019-07-17 08:40] KanhaKanha123 opened #37 "ng2-pdfjs-viewer Issue on Production server. getting 401 unauthorized screen."
i am using this library. In my local machine everything is working fine. But on our testing server i getting 401 unauthorized screen instead of PDF file.I am passing unit8Array data to src which works fine on my local environment. Not able to understand how to fix this issue. Any help will be appreciated. Thanks in advance.

[2019-07-18 22:06] codehippie1 commented on #37
@KanhaKanha123 From the issue description, it is quite difficult to provide help. Please provide your code and what you tried in order to get an initial understanding

[2019-07-18 22:10] codehippie1 commented on #36
@shreenil I am afraid, I am not able to understand your issue. What is the url you are passing? The component does not make any http calls. You have to make the call to api and feed the resulting byte array into the component. Look at this example: https://ng2-pdfjs-viewer.azurewebsites.net/bytearray

[2019-07-18 22:10] codehippie1 commented on #34
Closing due to inactivity

[2019-07-18 22:10] #34 closed

[2019-07-18 22:12] codehippie1 commented on #33
Sorry about late reply. Version is v2.2.171. Did you get the same error on the Demo site?

Url: https://ng2-pdfjs-viewer.azurewebsites.net/home

[2019-07-18 22:12] codehippie1 commented on #32
Closing due to inactivity. Refer to the previous comment for a fix

[2019-07-18 22:12] #32 closed

[2019-07-18 22:13] codehippie1 commented on #30
I am finally on this. Will be available in next build. Stay tuned

[2019-07-18 22:14] codehippie1 commented on #18
Closing due to inactivity. Refer to previous comment for viable solution.

[2019-07-18 22:14] #18 closed

[2019-07-19 02:08] KanhaKanha123 commented on #37
This is my code to retrieve data from java backend service using angular 7.
 <ng2-pdfjs-viewer [showSpinner]="true" [download]="isPrintable" [print]="isPrintable" *ngIf="pdfContent" [pdfSrc]="pdfContent"></ng2-pdfjs-viewer>

      var contentResource = this.contentViewerService.getFullContentResource(this.contentId, this.bitsreamId).subscribe(res => {
        var data = new Blob([res.body], { type

[2019-07-19 06:10] shreenil commented on #36
@codehippie1, If you look at this example [https://ng2-pdfjs-viewer.azurewebsites.net/home](https://ng2-pdfjs-viewer.azurewebsites.net/home), one can pass url of document in `pdfSrc`.

Though, there is a note saying we need to have documents in 'assets' folder, I've tried passing my web API URL(which is returning byte stream) in `pdfSrc`, And it successfully loads the PDF if there is no authorizat

[2019-07-20 00:32] codehippie1 commented on #30
@vunb Finally, this is implemented. Use version 4.0.5 or above.

[2019-07-20 00:33] codehippie1 commented on #30
As per the comment, closing the issue. Feature request is completed

[2019-07-20 00:33] #30 closed

[2019-07-20 00:34] codehippie1 commented on #3
@amrishashok - All of your feature requests are implemented. You can execute a function after pdf is loaded, set page#, and even get an event emitted when user scrolls through pages and get current page number. :)

[2019-07-20 00:34] #3 closed

[2019-07-20 00:36] codehippie1 commented on #25
@Jeya-Prakash @vunb @Klaushans - This feature is implemented. Quite simple to use. Try in lines of `(onDocumentLoad)="testPagesLoaded($event)""`

[2019-07-20 00:36] #25 closed

[2019-07-20 01:03] vunb commented on #30
Great works! Thank you 👍

[2019-07-20 03:36] Jeya-Prakash commented on #25
Thanks mate 🔥

[2019-07-22 15:06] codehippie1 commented on #37
@KanhaKanha123 Would you be able to recreate this issue on stackblits? This seems to be problem with your server configuration than pdf viewer. I am unsure how can I be of help.

[2019-07-22 15:06] codehippie1 commented on #33
Have you tried the demo site as commented above?

[2019-07-22 15:11] codehippie1 commented on #36
I sort of understood the problem. Please post relevant code here, both server side and client side. I will try to get headers added if it is feasible.

Please note, source url is an underlying PDFJS's feature. Altering it may need tweaking.

[2019-07-22 18:39] juliaber2 commented on #33
Hi,
thank for being back. At the end we fixed the problem with cutting document
with change in viewer.css
- simply added to #printcontainer >div the following strings:

transform-origin: left top;
transform: scale(0.82);

But the real problem is that even with these changes print behavior in IE
is unpredictable, sometimes it works, sometimes it doesn't. We spent a week
and this damn IE gives diffe

[2019-07-22 18:49] codehippie1 commented on #33
@juliaber2 Glad it worked for you. It is a pain to support IE, as the support for the browser has officially ended. Thanks for the tip. This issue is a good knowledge base for those who are struggling with this old monster.

[2019-07-22 18:56] codehippie1 commented on #33
@juliaber2 Here is the Mozilla's link talking about supported browsers. It clearly states, IE is supported "Mostly" - Some missing features/defects have been reported, but no problems in general.

You may create an issue directly with PDFJS.

If IE is core to your business, a custom pdf product would be of better choice if you face several problems.

[2019-07-23 18:05] NikoKodzhabashev opened #38 "Events are not triggered"
Hey thank you very much for your work! I have a problem with the events, they receive my subscriptions but i am not getting any response. Thank you ;)

[2019-07-23 18:59] codehippie1 commented on #38
Please show me the code. Did you set the `viewerId` attribute? Without that attributes events won't work.

[2019-07-23 19:03] codehippie1 commented on #36
@shreenil I did my research and this is not viable. viewerjs internally uses http request to set urls. (E.g .src etc). You will only be able to change http headers if the url is requested over javascript(Like ajax).

Please use the byte array mechanism. There you may be able to set http headers. (https://ng2-pdfjs-viewer.azurewebsites.net/bytearray )

Further info: https://stackoverflow.com/questi

[2019-07-23 19:03] #36 closed

[2019-07-24 11:23] NikoKodzhabashev commented on #38
Thank u!

[2019-07-24 16:39] codehippie1 commented on #38
Keeping this issue open as an FAQ reference. 💯

[2019-07-30 16:51] codehippie1 commented on #38
Closing now. Events should work when viewerId is set properly

[2019-07-30 16:51] #38 closed

[2019-07-30 16:52] codehippie1 commented on #33
Closing as this should be fixed in underlying viewerjs

[2019-07-30 16:52] #33 closed

[2019-07-30 16:53] codehippie1 commented on #37
Closing due to inactivity

[2019-07-30 16:53] #37 closed

[2019-07-31 06:30] Coder72 opened #39 "Issue with onpagesloaded event and setting page number from code"
To the admin.
Its a really awesome control, however I found few issues like events are not working after setting the viewerid as well and i am setting the page number from code behind which is also not changing the page .
Need ur help in this regards.

[2019-07-31 21:14] codehippie1 commented on #39
Show me the code.

1. Please try the sample app and demo app. You may download both and try the events.
2. For page#, it can be set only at the time of loading now. i.e, subsequent changes are ignored.

[2019-08-01 18:01] Coder72 commented on #39
Any tentative  date when I can expect the  page change feature from code behind, hence itbis there is ng pdf js however its performance is too bad on huge documents or raster pdfs

[2019-08-05 21:38] codehippie1 commented on #39
@Coder72 There are few other requests/features being implemented now. Will get to this soon and look how feasible it is. Don't have a specific date yet.

[2019-08-09 07:23] vishnu-dev commented on #17
@codehippie1 Can I know how to use this feature? Or could you point me to where exactly it is in the documentation?

[2019-08-09 08:10] vishnu-dev commented on #39
@codehippie1 This is implemented in ng-pdf-viewer. Could you port from there?

[2019-08-09 19:52] codehippie1 commented on #17
Please ask how to questions on Stackoverflow. Which would also benefit others using the component. I barely look at comments on closed issues. It is your lucky day. :-)

You can see the below code in sampleapp provided in the repository - https://github.com/intbot/ng2-pdfjs-viewer/blob/master/SampleApp/src/app/app.component.html
Use attribute [page]=2

[code]

[2019-08-10 15:56] yexiaodong opened #40 "how to add annotations in pdf"

[2019-08-11 08:49] vishnu-dev commented on #17
This is static. I need it to be dynamic, i.e on fire of an event I change the page_number variable and it updates the view. Is it possible?

I think ng2-pdfjs-viewer doesn't have this capability. I have found a workaround for the same and I am using it.

[2019-08-11 10:09] vishnu-dev commented on #39
I found a workaround for people needing this.

[code]
[code]

[2019-08-12 15:12] codehippie1 commented on #40
If this is supported by Mozilla's pdf viewer, it would be available. My understanding is that, this is a viewer, not an editor and thus features of an editor is unavailable.

[2019-08-12 15:15] codehippie1 commented on #39
@vishnu-dev That is smart. This is exactly the way I am looking to expose some of the features, thus reducing the complexity of the component. Another user "Anthony" has a fork, exploring this mechanism, till I get to this - You may look at his fork to see what he has done accessing PDFViewerApplication and its options.

[2019-08-12 15:23] codehippie1 commented on #39
Precisely, this is the relevant code.

[code]

[2019-08-12 19:29] codehippie1 commented on #39
@vishnu-dev I got some time today and integrated this into the component. I also exposed `PDFViewerApplicationOptions` and `PDFViewerApplication`. This will allow everyone to access a lot more hidden features and change them programmatically. So, not just page numer, a lot can be changed directly once the document is loaded.

[2019-08-12 19:31] codehippie1 commented on #23
@Jeya-Prakash I got some time today and integrated this into the component. Now I have exposed `PDFViewerApplicationOptions` and `PDFViewerApplication`. This will allow everyone to access a lot more hidden features and change them programmatically. So, not just page numer, a lot can be changed directly once the document is loaded.

[2019-08-12 19:32] codehippie1 commented on #17
@vishnu-dev As stated in the other issue, this is integrated into the component. I also exposed `PDFViewerApplicationOptions` and `PDFViewerApplication`. This will allow everyone to access a lot more hidden features and change them programmatically. So, not just page numer, a lot can be changed directly once the document is loaded. Have fun!!!!

[2019-08-13 06:23] vishnu-dev commented on #39
@codehippie1 That was a quick response. Thank you. When will this be released?

[2019-08-13 06:27] vishnu-dev commented on #17
Thanks, @codehippie1.
BTW this is the related issue. #39

[2019-08-13 16:09] codehippie1 commented on #39
@vishnu-dev It is already released yesterday. Get latest version

[2019-08-13 16:23] codehippie1 commented on #17
Closing as per comment

[2019-08-13 16:23] #17 closed

[2019-08-13 16:27] codehippie1 commented on #40
@yexiaodong I have exposed PDFViewerApplication object. This can be used to access all underlying features of PDFJS.

I could see an annotationlayer object available there.
You may refer to this article and devise a custom solution to achieve this.

https://usefulangle.com/post/94/javascript-pdfjs-enable-annotation-layer

[2019-08-13 18:43] vishnu-dev opened #41 "[IMPROVEMENT] Changelog and releases update"
As large number of users use this wonderful library for Angular and updates being released frequently, it becomes necessary to maintain tags for commits . Subsequently updating release under the releases tab which will help users get what the need. Thanks.

[2019-08-15 23:50] codehippie1 commented on #41
@vishnu-dev Would you like to contribute to the project? Being the only active contributor now, it is difficult to keep up with this overwhelming usage increase; and thus with the documentation :-)

Community also need a wiki page, a FAQ, Common issues/Configuration mistakes and resolutions.

[2019-08-15 23:51] codehippie1 commented on #39
Resolved. Closing as stated in above comment.

[2019-08-15 23:51] #39 closed

[2019-08-15 23:54] codehippie1 commented on #23
@Jeya-Prakash Closing as the underlying `PDFViewerApplicationOptions` object is exposed as `public`. If PDFJS supports it, you can achieve this with a bit of customization.

[2019-08-15 23:54] #23 closed

[2019-08-18 08:03] vishnu-dev commented on #41
@codehippie1 Thanks for asking. I would surely like to help you out and contribute. I work for a company and won't be able to contribute more. But I'll try my best and pitch in whenever I can.

[2019-08-20 15:15] EchelonEric commented on #9
I want to follow up on this as I was uploading a generated PDF to Amazon s3 and then trying to use the s3 bucket URL to ng2-pdfjs but was hitting CORS errors in Chrome.   The s3 bucket was a public bucket and there are CORS policies you can configure on the bucket itself.  By default there are none, and that produces this wonderful error:

To fix this, you need to set a CORS policy on your bucket:

[2019-08-20 23:36] codehippie1 commented on #41
@vishnu-dev Thanks for showing interest. Greatly appreciate that. I am doing a full time at an organization, and had to squeeze in bug fixes here. Never would have ever thought this would be this big. :-)

The story behind this component is this SO question. OP is me.
https://stackoverflow.com/questions/49309797/rdlc-local-report-viewer-for-asp-net-core-and-angular2-0

I will add you as a contribu

[2019-08-21 14:16] MohammadTalhaKhan1 opened #42 "font-weight issue on print through direct PDF viewer VS Downloaded PDF's."
If print directed through the PDF viewer the font-weight getting Very light which cause a user readability issue to read and if print the downloaded PDF.
the font-weight printed as expected(Normal view).
![github](https://user-images.githubusercontent.com/40386660/63439814-30631500-c448-11e9-9fa2-6c84b2b859c7.PNG)
![github2](https://user-images.githubusercontent.com/40386660/63439823-3527c900-c448

[2019-08-22 09:37] KanhaKanha123 opened #43 "How to disabled Ctrl+P and Ctrl+S?. Right now anyone can print or download using keys. Please help me on this."

[2019-08-22 18:32] codehippie1 commented on #43
@KanhaKanha123 This is an underlying feature getting activated in Mozilla's PDFJS viewer. Since this component wraps the underlying PDFJS viewer, we may be able to achieve this by modifying underlying component.

Since this is the first request of this kind and is a feature request, Please look into viewer.js file and modify directly, as it might take me a while to get to this.

[2019-08-22 18:33] codehippie1 commented on #42
Did you try the same on https://mozilla.github.io/pdf.js/web/viewer.html ? Printing functionality is provided by PDFJS, not this component. You may raise this bug against PDFJS

[2019-08-23 12:28] MohammadTalhaKhan1 commented on #42
Yeah, I have found the solution its a bug of PDFJS`s viewer.js
I have changed the value of the following variable:
![image](https://user-images.githubusercontent.com/40386660/63592591-595fe300-c5cb-11e9-92dd-786c362ba7f9.png)
var PRINT_RESOLUTION = 150;
to
 var PRINT_RESOLUTION = 600;
which is defined in the viewer.js in the node_modules I know its a patch but it works fine for me now.

[2019-08-23 12:29] #42 closed

[2019-08-30 13:40] dafinel opened #44 "Firefox -> broken browser history back button when load PDF as byte array"
When you load the pdf using a byte array or a blob you have to press back twice come back to previos page.

For example : You have an overview with a list of files, and when you click on on row will be redirected to a detail page where the pdf content is shown. In this case I have to press twice back button to the to the overview page.

This issue can be reproduced on the demo app : https://ng2-pd

[2019-09-05 08:18] KanhaKanha123 commented on #43
Dear team i modified the viewer.js file but how to get those change in production build?. I can not commit node_modules folder on SVN, We are using Jenkins to buils our angular app. I could not find the way for this. Please help me on this thanks.

[2019-09-10 07:25] shurkin opened #45 "IE -> An error occured when loading PDF"
Browser : IE

When I try to open PDF file, the file is not loaded.

I have this error :

![image](https://user-images.githubusercontent.com/19571307/64592487-6db62500-d3ac-11e9-889b-b9779707082a.png)

Message : Unable to get propery ""headerReady" of null reference or undefined

Do you have any suggestions ?

Thank you.

[2019-09-18 02:36] KanhaKanha123 commented on #43
Please help me in this issue. If possible please update the library with these two flags as a properties so developers can use them as per their requirement. if you have alternate solution for this please suggest me that as well.

[2019-09-18 09:33] KanhaKanha123 opened #46 "How to disabled Ctrl+P and Ctrl+S?. Right now anyone can print or download using keys. Please help me on this."

[2019-09-23 02:51] KanhaKanha123 commented on #43
Are you not able to find solution for this guys?. Please help me on this.

[2019-09-23 15:27] codehippie1 commented on #46
Please have a look inside viewer.js shipped with this package. You may be able to do this there.

I am currently off the grid with limitted network access.

[2019-09-23 15:30] codehippie1 commented on #43
Hi. The viewer.js should be copied under assets as per instructions on setup(Refer to instructions). You may modify directly there. There are other ways to keep viewer.js under another folder and modify as well. Instructions are provided in readme. Please check installation instructions.

[2019-09-25 02:12] KanhaKanha123 commented on #43
Thank you so much for the suggestion it worked for me.

[2019-09-25 12:49] vishnu-dev commented on #16
@ani2479 How did you fixed it?

[2019-09-25 13:52] ani2479 commented on #16
Hi, We added it to the tsconfig.app.config

[2019-09-25 14:47] vishnu-dev commented on #16
Ok. Thanks @ani2479 .

[2019-09-27 14:24] PetroProkopovych opened #47 "Events are not triggered when open pdf in external window"
Hey! There is a problem with events, when open pdf in external window. They are not triggered even with 'viewerId' attribute. Here is my code:

##HTML

[code]

##TypeScript

[code]

[2019-10-07 11:18] TraMZzz commented on #47
I also have this problem and do not know how to solve it. Very critical to me.

[2019-10-14 16:51] aeslinger0 commented on #8
This was still an issue for me as well when trying to download via a Presigned URL from an S3 bucket. Encoding the url before passing it to the viewer allowed me to work around it.

[2019-10-25 06:36] varun-nagar opened #49 "How to disable/restrict copy paste functionality of PDF content."
How should I disable/restrict copy paste functionality of PDF content as no direct property is given to modify it.

[2019-10-29 16:26] codehippie1 commented on #49
@varun-nagar Please look into Mozilla's PDFJS documentation. If the underlying PDFJS component supports it, you can access it using the pdfviewerapplication property.

A quick googling gave me this: https://github.com/mozilla/pdf.js/issues/7964

[2019-10-29 16:53] codehippie1 commented on #45
Can you please reproduce this problem in a small working example?

Did you try downloading the demo app and using it in IE?

[2019-10-29 16:54] codehippie1 commented on #43
Duplicate

[2019-10-29 16:54] #43 closed

[2019-10-29 16:57] codehippie1 commented on #44
@dafinel Can you try this directly at
https://mozilla.github.io/pdf.js/web/viewer.html#page=2
and let me know.

Looks like an issue of underlying component.

[2019-11-01 12:34] avssolutions commented on #11
I have the same issues still?

[2019-11-04 17:09] varun-nagar commented on #49
Thanks @codehippie1 pdfviewerapplication property(object) done the trick in solving my issue.

[2019-11-04 17:09] #49 closed

[2019-11-06 06:14] reyou opened #50 "How to select text content of a specific page?"
What I am trying to is something like below;

[code]

[2019-11-07 09:08] SiposGergo opened #51 "Print issue in firefox"
Hi, there is an issue with print function in Firefox (version: 70.0.1).
When I print pdf, a blank page added to the end of the document.

Reproduction with the demo app: https://ng2-pdfjs-viewer.azurewebsites.net/home
Error occurs on the 'simple configuration' page.
Other pages work correctly.

[2019-11-08 11:14] biltongza opened #52 "Does not build with ivy"
This package does not appear to build correctly when Ivy is enabled in Angular 8/9:
[code]

There is an open issue in Angular about it: https://github.com/angular/angular/issues/32442

I have created a repo that reproduces this: https://github.com/biltongza/ng2-pdfjs-viewer-ivy-es2015

[2019-11-08 22:06] JustinLutsky opened #53 "Zoom Programatically w/o Refresh"
Is there a basic example of zooming in, out, fit width, fit height, auto programatcially without refreshing? Trying to hide the toolbar and build a few custom buttons that call the same actions. Thanks!

Found this to be useful for zooming in and out, but can't find similar functions to zoom width, height, etc...

    this.pdfViewer.PDFViewerApplication.zoomIn();
    this.pdfViewer.PDFViewerApplic

[2019-11-11 11:36] GitShaffi opened #54 "CSP unsafe-eval restricted"
Content Security Policy gets violated because unsafe-eval are not allowed in our webservers.

`viewer.js:3328 Uncaught EvalError: Refused to evaluate a string as JavaScript because 'unsafe-eval' is not an allowed source of script in the following Content Security Policy directive: "script-src 'self' 'unsafe-inline' *.myapp.com "`.

The viewer doesn't work when the unsafe-eval is restricted.

[2019-11-13 13:38] petebacondarwin commented on #52
The build failure with ivy is due to the `module` property of [package.json](https://github.com/intbot/ng2-pdfjs-viewer/blob/master/dist/package.json#L25) being invalid.:

[code]

There is no `ng2-pdfjs-viewer.js` file.

Instead this should be

[code]

[2019-11-13 14:20] petebacondarwin commented on #52
See https://github.com/intbot/ng2-pdfjs-viewer/pull/55

[2019-11-14 08:16] sokhomhuy opened #56 "how to bind event download on click?"
i don't found any docs in this repository for event download pdf it just on print button?
please any one help me.
thanks u in advance,

[2019-11-14 18:46] codehippie1 commented on #56
@sokhomhuy If you are trying to download manually, there will be a download button in viewer. For auto download refer to `[startDownload]` option.

A working demo is here: https://ng2-pdfjs-viewer.azurewebsites.net/autodownload

This is a how to question rather than an Issue, Please ask such questions on StackOverflow, which would benefit the community.

[2019-11-14 18:46] #56 closed

[2019-11-14 18:47] codehippie1 commented on #54
@GitShaffi Please raise this concern to PDFJS project: https://github.com/mozilla/pdf.js/

This angular component uses Viewer.js internally.

[2019-11-14 18:47] #54 closed

[2019-11-14 18:57] codehippie1 commented on #53
@JustinLutsky This is a how to question. Please ask these questions on stackoverflow, which benefits the whole community.

The options available in PDFViewerApplication is controlled by PDFJS. You may use it as you please. If you would like to build such functionality, you may refer to source code of viewer.js

Do something in line of after pdf is loaded.

[code]

[2019-11-14 18:57] #53 closed

[2019-11-14 19:00] codehippie1 commented on #52
@petebacondarwin Code is merged, should be good with next build

[2019-11-14 19:03] codehippie1 commented on #51
@SiposGergo Would you be able to try this in PDFJs's demo page and report the results?

https://mozilla.github.io/pdf.js/web/viewer.html

[2019-11-14 19:11] codehippie1 commented on #50
Please ask this question on SatackOverflow, it would benefit others

This would be out of scope of this project right now, still

Try along these lines as the underlying `PDFViewerApplication` is accessible within the component.

[code]

Once you have access to the document, try methods described in these SO questions
https://stackoverflow.com/questions/20598292/getting-textcontent-pdf-js
https://

[2019-11-14 19:13] #46 closed

[2019-11-20 11:46] SiposGergo commented on #51
@codehippie1 I tried to print the document on the linked page and it worked properly with Firefox. No extra blank page was added to the end of the document.

[2019-11-26 09:21] KillerCodeMonkey commented on #52
Is it possible to release a new version with this fix? Thanks

[2019-11-27 13:28] RobertasM opened #60 "Issue on IE"
hi,
I trying lib on IE and getting some errors. In modal I show a PDF viewer and when I close this modal I get errors in console: : '**Object doesn't support this action**' (compatibility.js (91,35)) and '**Unable to get property 'prototype' of undefined or null reference**' (ui_utils.js (776,51)). Maybe you know how to prevent or fix such errors?

![image](https://user-images.githubusercontent.co

[2019-11-28 08:28] RobertasM commented on #60
After more debugging I see that when I close modal it destroys PDF viewer and then those exceptions are thrown in console. Maybe its because the PDF viewer is destroyed but still some left code executing some missing/destroyed javascript code?

[2019-12-03 22:59] lakshmanraman opened #61 "Issue displaying 34 pages pdf doc in Angular 8 app"
Hi,

I have a PDF document which has 34 pages, which is rendering all 34 pages on Preview app in MacOS. However, this library is only displaying 19 pages in our web app.
when we download the document, we see that it has all 34 pages.
When I use the Open option from the menu, it is only displaying 19 pages.

[code]

Browser used Chrome
Angular 8

[2019-12-09 16:13] #61 closed

[2019-12-16 17:47] ananaghbar commented on #35
@Geevo is this fixed ? I'm facing the same issue with the same error :(

[2019-12-16 17:48] ananaghbar commented on #35
@codehippie1 do you have any workaround for it ?

[2019-12-19 06:25] #50 closed

[2020-01-02 16:12] codehippie1 commented on #52
Will update version in couple of days

[2020-01-03 16:45] codehippie1 commented on #52
@biltongza @petebacondarwin @KillerCodeMonkey New version is updated. V 5.0.3.

@petebacondarwin - Thanks a lot for the fix.

Let me know if there are any issues.

[2020-01-03 16:49] codehippie1 commented on #51
Seems to be an issue with pdfjs - https://github.com/mozilla/pdf.js/issues/8849

Will check and see if a new version is available with the fix.

[2020-01-03 16:52] codehippie1 commented on #45
@shurkin  - Closing as user did not respond.

[2020-01-03 16:52] #45 closed

[2020-01-03 16:55] codehippie1 commented on #40
@yexiaodong Any update?

[2020-01-03 19:14] codehippie1 commented on #35
@ananaghbar @Geevo  - Any of you have a sample pdf(with named destinations) I can test this with?

[2020-01-03 19:17] codehippie1 commented on #60
@RobertasM Did you see issue - https://github.com/intbot/ng2-pdfjs-viewer/issues/13

[2020-01-06 07:11] jochenonline opened #63 "Error: Cannot match any routes"
When  running my application with `ng serve` everything works fine. But after building it with `ng build --prod` I get ...

    ERROR Error: Uncaught (in promise): Error: Cannot match any routes. URL Segment:
    'assets/pdfjs/web/viewer.html'
    Error: Cannot match any routes. URL Segment: 'assets/pdfjs/web/viewer.html'

... at the moment the pdfviewer component should be displayed. What am I do

[2020-01-09 19:45] codehippie1 commented on #63
@jochenonline This looks more like an angular route issue. Would you mind asking this question on stack overflow under ng2-pdfjs-viewer tag?

[2020-01-13 10:30] Cselt commented on #22
As I can see still not the minified versions are used.

Right now if you create a new project and follow the steps to copy the assets from node_modules you will have a directory with the size of ~11Mb.

However if you modify _viewer.html_ to use minfied files and remove unnecessary files (unminified files and mappings) you will have only ~3.7Mb.

Would it be possible to create a minified version o

[2020-01-21 14:56] tolgacesur commented on #8
This works for me

`this.pdfViewerAutoLoad.pdfSrc = encodeURIComponent(url);`

url is a presigned s3 bucket url

[2020-01-22 07:30] Prabaharancs opened #64 "How to open external links inside PDF to a new tab?"
I want the links inside the embedded pdf to open in new tab, instead of same window.

[2020-01-22 17:56] codehippie1 commented on #64
@Prabaharancs Links inside pdf is not handled at this component level. Please refer to pdf/pdfjs documentation for further info. Also, you can post these how to questions along with code you already tried on Stack overflow under ng2-pdfjs-viewer tag : https://stackoverflow.com/questions/tagged/ng2-pdfjs-viewer

Closing as out of scope

[2020-01-22 17:56] #64 closed

[2020-01-25 19:58] ishanuda opened #65 "nameddest is not working with a reference variable - data binding"
Hi,
Thanks for the amazing library.

I would like to know about the `nameddest`

I tried to set the `nameddest` using a variable, and when I change the variable dynamically, the page does not scroll to the destination.

I think it is not supporting data binding or is it?

**Feature request:
If it is not supporting data binding, Can you make this to bind a variable and act accordingly when changing

[2020-01-26 20:37] jgv66 opened #66 "ramawork"

[2020-01-27 17:26] codehippie1 commented on #66
@jgv66 What is this issue about?

[2020-01-27 17:42] codehippie1 commented on #65
@ishanuda As you could see, I have exposed PDFViewerApplication object and its options. This can be used to access internal methods to work with pdf directly.

For example
`PDFViewerApplication .PDFLinkService.navigateTo()` method can be used to navigate the document with `nameddest` as a parameter.

Please check the code inside viewer.js to see how this function works in case you are interested.

[2020-01-27 19:01] ishanuda commented on #65
Hi,
Thank you for the quick reply and the information.

As you suggest I will try with the given solution,
But I would love to see the library supporting the feature so that anyone can use the library without accessing the PDFjs internal API directly.

Regards

[2020-01-29 19:28] AnalogJ opened #67 "fails when filepath includes a `#` symbol"
Hey,

I'm seeing the following error when using pdfjs-viewer to load a remote document that includes a `#` symbol

[code]
looking at my console I see a request for

[code]
which seems to imply that everything after the hash is being treated like a url fragment and is being dropped before the request is made.

I've confirmed that I'm correctly url-encoding my `pdfSrc`

Any ideas how I can get this

[2020-01-30 10:13] Halfist commented on #25
It doesn't work for me. Could you please help? I'm autoloading the document. I tried both attribute `(onDocumentLoad)="onDocumentLoad($event)"` and reference `this.pdfViewerRef.onDocumentLoad = () => {}` approach.

[2020-01-30 12:20] MahajanTarun opened #68 "Unable to get selection from the PDF Viewer"
Hey @petebacondarwin.

I tried to get selected text from PDF view using <window.getSelection()> but nothing works.

It give selection from anywhere outside the PDF viewer.
This is the link I used to implement in my app : https://stackoverflow.com/questions/48950038/how-do-i-retrieve-text-from-user-selection-in-pdf-js/48950148

Q1. So how to get the selected text from within the pdf viewer.
Q2. Als

[2020-01-31 16:05] regnete opened #69 "Trigger refresh on pdfSrc change"
Thanks a lot for this great piece of software.
Would it be possible to aut refresh/reload the pdf when the pdfSrc property value is changed?

[2020-02-04 15:19] Spiral1401 opened #70 "CSP unsafe-eval (fixed in newer pdf.js)"
Seeing this error in my application - I noticed there is a [ticket](https://github.com/intbot/ng2-pdfjs-viewer/issues/54) asking for the problem to be posted in the pdf.js issue tracker, but it appears at this point that pdf.js has solved the issue in [version 2.1.266](https://github.com/Ksyos/pdfjs-release/pull/1). The version of pdf.js within ng2-pdfjs-viewer seems to be 2.2.171 (not sure if I a

[2020-02-04 15:23] Spiral1401 commented on #70
I realize now that 2.2.171 > 2.1.266. That's on me for focusing on the rev number. But, then, should this issue not be fixed? Any idea why I might still be seeing this?

[2020-02-05 16:17] robertkruzel opened #71 "Accessibility audit - no title on iFrame"
As a user running aXe Accessibility audit tools on a page using ng2-pdfjs-viewer, I am notified of a violation (*** edit cuz of html tags *** frame or iframe must have a title) which is a violation of type: Section 508: MUST.

Looking at the source, perhaps something as simple as a static title would suffice?

[2020-02-07 18:23] VictorCoddistudio commented on #11
Hi @codehippie1 :)
I'm using the last version (5.0.5) with angular 4.

![image](https://user-images.githubusercontent.com/26631589/74051479-a713b080-499d-11ea-9d48-f7bfbdec45f9.png)

But it seems the npm install is downloading the package with a wrong metadata info for angular 4.

![image](https://user-images.githubusercontent.com/26631589/74051601-e6da9800-499d-11ea-8e73-9109a57e0751.png)

And I

[2020-02-07 18:27] ihorbond commented on #11
For angular 4 use v3.0.8

[2020-02-07 18:49] VictorCoddistudio commented on #11
Hi @ihorbond
The 3.0.8 version was not found.
![image](https://user-images.githubusercontent.com/26631589/74056621-f8c13880-49a7-11ea-9ecf-a26748be5c52.png)

[2020-02-07 19:22] ihorbond commented on #11
The package is ng2-pdf-viewer

[2020-02-07 21:12] VictorCoddistudio commented on #11
@ihorbond

[2020-02-07 21:15] VictorCoddistudio commented on #11
Thanks @ihorbond but I need the ng2-pdfjs-viewer

[2020-02-07 21:17] ihorbond commented on #11
My bad confused with a different package I ended up using

[2020-02-07 23:39] VictorCoddistudio commented on #11
Don't worry @ihorbond ! Thanks anyway :)

[2020-02-10 11:16] alvarosinmarca opened #72 "Error uploading Angular version to 9.0.0"
Error uploading Angular version to 9.0.0

Thx.

[2020-02-10 11:23] alvarosinmarca commented on #72
I uploaded package 4.0.5 to 5.0.5 and fixed.

[2020-02-10 11:23] #72 closed

[2020-02-10 23:18] bpetty-formfast opened #73 "How do you access the PDF Document before it is rendered?"
I have the requirement of updating some annotation fields before the page is rendered in order to prepopulate them with certain values.  Using this library, is it possible?

Right now I am using the Viewer component.  I assume there is no way as it is now to do that.  If that is true, would the best route be to modify the viewer code directly?

[2020-02-12 20:56] guillemest opened #74 "locale.properties not found."
Hello I'm running my angular app on an IIS server everything is fine the library works fine except it doesn´t show the correct language which is spanish.  I'm using local="es-CL" I'm using angular material modal to display the viewer which works fine when I'm local the only issue is once the app is deployed on the server?

![error](https://user-images.githubusercontent.com/25377912/74376143-61e9e7

[2020-02-13 00:16] orochies opened #75 "Update compatibility to Angular 9"
Please update peer dependencies to avoid this alert

ng2-pdfjs-viewer@5.0.5 requires a peer of @angular/core@^8.0.0 but none is installed. You must install peer dependencies yourself.

[2020-02-14 01:55] nilaybhima opened #76 "Print feature broken on IOS and Android devices."
The print feature prints the entire html page rather than pdf document on IOS and Android devices.

[2020-02-14 02:29] seanke commented on #76
Also having this issue.

[2020-02-16 23:21] rogerfar opened #77 "Events not working when passing a pdfSrc"
When I pass a pdfSrc on initialization events aren't working as they are not passed to the iframe parameters.

[2020-02-18 01:32] varshithayendapally commented on #77
This works only if we give ViewerId

[2020-02-18 16:11] codehippie1 commented on #77
@rogerfar @varshithayendapally. Hope there are no issue here.

[2020-02-18 16:19] codehippie1 commented on #76
@nilaybhima Try this page directly and let me know the results. https://mozilla.github.io/pdf.js/web/viewer.html

[2020-02-18 16:21] codehippie1 commented on #74
This looks like something to do with MIME types. Thought it is out of scope of this project, here is something you can try. Add MIME type ".properties" in IIS. Also post this question on Stackoverflow for others to find help.

[2020-02-18 16:32] codehippie1 commented on #68
@MahajanTarun PDFViewerApplication object is part of pdfjs(Mozilla's) architecture. The documentation is poor. This is out of scope and inappropriate of this angular wrapper to add documentation on Mozilla's pdfjs. You can look into viewerjs file(non-minified) of pdfjs and understand how the basic functionality works. Please search in closed issue - Another user was able to achieve this using core

[2020-02-18 16:32] codehippie1 commented on #75
@orochies  Will update this soon.

[2020-02-18 16:33] codehippie1 commented on #74
@guillemest Googling pointed me here. Look at last comment on mime types

https://github.com/mozilla/pdf.js/issues/6506

[2020-02-18 16:33] #74 closed

[2020-02-18 16:39] codehippie1 commented on #73
@bpetty-formfast You may look into the viewerjs and pdfjs files directly for this. This component is indented for viewer as is. Editing is out of scope.

A search on viewerjs yielded these line
[code]

Also I saw ```beforedraw``` function.

Hope this helps.

[2020-02-18 16:41] codehippie1 commented on #70
@Spiral1401 Have you tried trying using pdfjs directly? What are the results? Also can you try directly at PDFJS site here : https://mozilla.github.io/pdf.js/web/viewer.html

[2020-02-18 17:27] codehippie1 commented on #69
@regnete As of now, this is unavailable. Still, you can change pdfSrc in typescript and call refresh() on viewer to achieve the same thing

[2020-02-18 17:29] codehippie1 commented on #67
@AnalogJ ViewerJS from Mozilla interprets '#' as the start of parameters.
https://github.com/mozilla/pdf.js/wiki/Viewer-options

You may check and see how to escape this or raise this concern directly with them

[2020-02-18 17:29] #66 closed

[2020-02-18 17:32] codehippie1 commented on #65
@ishanuda I would love to add as many features as possible. Since, This is a single author project and I am allocating most of my time in upgrades and bug fixes and implementing features requested by more than one user. If you would like to contribute to the project, let me know, I would be glad to get some help. :-)

[2020-02-18 17:34] codehippie1 commented on #35
@Geevo @ananaghbar Checking again - Do you have a sample pdf I can test this with?

[2020-02-18 19:25] nilaybhima commented on #76
Yes, this page is working.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: codehippie1 <notifications@github.com>
Sent: Wednesday, February 19, 2020 5:19:18 AM
To: intbot/ng2-pdfjs-viewer <ng2-pdfjs-viewer@noreply.github.com>
Cc: Nilay Bhima <Nilay.Bhima@equinox.co.nz>; Mention <mention@noreply.github.com>
Subject: Re: [intbot/ng2-pdfjs-viewer] Print feature brok

[2020-02-18 20:31] seanke commented on #76
It's working for me too! Nice work! One problem for me though, it's defaulting to Letter size and has shrunk the 3 pages onto one page and pages 4+ are missing. Am I doing something dumb?

[2020-02-19 09:09] Javaluca opened #78 "Open blob on new tab (issue ie-edge)"
Hello,
I'm trying to open a blob of a pdf in a new tab for my angular application using this awesome library.

This is my code

        const viewer = new PdfJsViewerComponent();
        viewer.pdfSrc = data;
        viewer.externalWindow = true;
        viewer.openFile = false;
        viewer.viewBookmark = false;
        viewer.download = false;
        viewer.downloadFileName = fileName;

[2020-02-19 17:58] varshithayendapally opened #79 "Events when pdf loading failed"
Is there a way to know (like an event) when the pdf loading failed for some reason?

[2020-02-24 09:50] Geevo commented on #35
@codehippie1 sorry, totally missed these notifications.
I don't have one that doesn't contain sensitive information right now. I will see if i can make a copy, strip out the content and keep the named dests.

[2020-02-25 15:40] neuweiler commented on #47
Please, include this in the documentation/readme.me ! It cost me hours to find this mentioned in a bug report. (actually I almost gave up on the plugin which works great otherwise).

[2020-02-27 22:58] JavaAngularVV commented on #78
I have the same issue. Works in Chrome not in IE browser.
Any fix for this issue?

![image](https://user-images.githubusercontent.com/61565799/75494626-ad88bd00-598a-11ea-942d-97162af798a4.png)

Thanks.

[2020-03-04 20:58] codehippie1 commented on #79
@varshithayendapally There could be several reasons why a pdf might fail to load. As of now there are no signaling mechanism except you can change the error message being displayed. Let me see if I would be able to integrate this. As a sole contributor to this project, it would take me some time to get to new features.

[2020-03-04 21:05] codehippie1 commented on #78
@Javaluca @JavaAngularVV Verified it works on latest Edge(chromium based)

@JavaAngularVV : Your specific issue is reported here against angular. A workaround is suggested: https://github.com/angular/angular-cli/issues/5762

@Javaluca : I found this. Seems to be a CORS issue. You may start here: https://stackoverflow.com/questions/56883808/pdf-js-message-unexpected-server-response-0-while-retrievi

[2020-03-04 21:10] #77 closed

[2020-03-04 21:14] codehippie1 commented on #71
@robertkruzel This is done. Please check latest npm package

[2020-03-04 21:14] #71 closed

[2020-03-04 21:19] codehippie1 commented on #47
@neuweiler Thanks for the kind words. I have updated the documentation to reflect this. Everywhere events are mentioned - It is mentioned.

[2020-03-04 21:28] #52 closed

[2020-03-04 21:29] #47 closed

[2020-03-04 21:30] codehippie1 commented on #67
@AnalogJ Were you able to find escape character for cases like this?

[2020-03-04 21:33] codehippie1 commented on #76
@nilaybhima @seanke I won't be able to test this much as I don't have an ios device. I could use some help in fixing this issue. Let me know if you would like to send in a pull request.

[2020-03-04 22:00] nilaybhima commented on #76
@codehippie1 Just a heads up, it doesnt work on Android either. It seems to be an issue with all mobile devices I would say.

[2020-03-05 03:15] JavaAngularVV commented on #78
@codehippie1: tried the workaround and it didn't work. getting below error.
![image](https://user-images.githubusercontent.com/61565799/75944335-68bac580-5e65-11ea-9795-d171462cf5a5.png)

I am reading the Pdf file from a server location in the API service call and returning it as byte[] to the UI.
below is the code:
**html :**
<ng2-pdfjs-viewer #externalPdfViewer [externalWindow]="true" openFile="

[2020-03-12 15:41] carlosra85 commented on #78
I have exactly the same two errors in Edge and IE11. Any idea? I've tried lots of things and nothing worked...

[2020-03-18 14:34] ragauskl commented on #67
Need to wrap the url in encodeURIComponent() as mentioned in link above, had same issue with '=' in query.
Can confirm that it fixed the problem.

See https://github.com/mozilla/pdf.js/wiki/Frequently-Asked-Questions#file for more details

[2020-03-23 15:35] alexsunwei opened #82 "iframe sandbox issue"
I could see that the ng2-pdfjs-viewer create a embedded iframe to help render PDF.
However, for security reason ,we have requirement to sandbox all iframe, is there a way that I could add sandbox attribute in the ng2-pdfjs-viewer generated iframe?
I would like add an attribute:
sandbox="allow-forms allow-scripts allow-same-origin allow-modals"

[2020-03-24 09:51] Ciferlingvulo commented on #44
I have a somewhat similar issue. I think it's worth mentioning here instead of creating a new issue.

I have a few buttons on a page that load a different document in the same PDF viewer. The PDF are loaded as byte array too, as in the original issue. The code looks like this :

[code]
Everything is loaded fine and work as intended, but when I click on the back button of my browser, it stays on th

[2020-03-27 15:26] vishnu-dev commented on #63
Refer https://stackoverflow.com/a/60889056/5120049 @jochenonline

[2020-03-27 15:37] vishnu-dev commented on #63
Refer https://stackoverflow.com/a/60889056/5120049. It works. This happens when the copy of `pdfjs` folder to `assets` folder does not happen properly.

[2020-03-30 13:29] BemHur opened #83 "Ionic 4 Angular 8 - Android app crashes depending on the pdf file"
Hi there,
Im trying to use this lib with a Ionic 4 app and it works nice, but ti tryed with this pdf:
https://argus-zenite.sfo2.digitaloceanspaces.com/simulado/DF0C08E8B1445FAAD4D3C7283FAACF06E50ACD9EC77E37F3DC3B09E191E5963A.pdf
and the app crashes when a roll out to the middle/end of the pages.

Can someone help, any suggestions are welcome.

[2020-04-03 08:41] santoshprakash opened #84 "Document compare side by side"
can I use this library to do document compare side by side?

[2020-04-06 10:30] vishnu-dev commented on #84
Yes, you can. Be careful with the size of the document because rendering canvas takes a lot of memory.

[2020-04-06 10:35] vishnu-dev opened #85 "Disabling the textLayer in PDFjs"
I need to disable the `textLayer` that is rendered above the canvas to reduce memory.
In PDFjs it is done with the code below,

`PDFJS.disableTextLayer = false`

How to do it using `ng2-pdfjs-viewer`?

[2020-04-06 11:51] vishnu-dev commented on #85
Just figured it out, For people needing this,

    @ViewChild('pdfViewerOnDemand', {static: false}) pdfViewer;

    loadComplete() {
        this.pdfViewer.PDFViewerApplicationOptions.textLayer = false;
    }

[2020-04-10 09:24] Kiran-GitHuber opened #86 "Getting error while loading pdf in a viewer 'X-Frame-Options' to 'deny'."
Getting below error while running in tomcat server but works fine with the local node server.

Refused to display 'myserverpath/assets/pdfjs/web/viewer.html?file=myblobpath&openFile=false&download=true&viewBookmark=true&startPage=0&stopPage=466' in a frame because it set 'X-Frame-Options' to 'deny'.\

Based on couple of suggestions tried below options
1) From serverside changed response header X-F

[2020-04-21 17:52] igorlino opened #88 "support for pdf.js v2.4.456"
Hello,

Is there any plan to update to pdf.js v2.4.456?

This newer release of pdf.js seems to include much better modularity. It includes more or less the work of nearly 6 months .

https://github.com/mozilla/pdf.js/releases/tag/v2.4.456

Cheers
Igor

[2020-04-22 09:48] Paul75 commented on #85
Hello,

For me that provoque error in console : PDFViewerApplicationOptions is not defined...

thanks

[2020-04-28 12:20] kiranhpe opened #89 "How to hide entire toolbar in viewer?"
I'm don't want to show any controls in my application, how can hide entire toolbar?

![image](https://user-images.githubusercontent.com/22594383/80486377-b0972e00-8978-11ea-9a2c-be796ddf180e.png)

[2020-04-28 12:44] vishnu-dev commented on #85
@Paul75 Load complete function should be called after document is loaded.

`(onDocumentLoad)="loadComplete()"`

[2020-05-07 14:04] pgsrw commented on #51
Hi, we have expirienced the same problem. Maybe in context with letter and A4 ? The minimalistic has A4 and in the other example there is the height smaller then 297mm. Would be great if the issue will be solved.

[2020-05-12 10:55] roxic8 opened #90 "How to disable previous pdf loaded from blob"
everytime i view the pdf viewer it always display the previously loaded pdf .

[code]

[2020-05-13 05:45] rahulmohang opened #91 "Source code for versions not found"
Hi,

I could not find the source code for the version 5.0.7.

Can you please let me know where could I find it?

@codehippie1

[2020-05-15 01:56] #90 closed

[2020-05-17 12:42] CobusKruger opened #92 "Support Ivy build"
I included ng2-pdfjs-viewer in a library, which I published to a private repository. When I then tried to do an Angular 9 Ivy build, I get this error:

[code]

This is the money shot:

I'm using ng2-pdfjs-viewer@5.0.7, on Angular 9.1.7.

[2020-05-20 22:06] dedaimia commented on #86
I'm seeing the same issue using ng2-pdfjs-viewer for an angular app that is bundled with a java Spring app (in a war) and deployed to tomcat.

[2020-05-26 13:31] thimma11 opened #93 "Angular 9 compatibility"
Hi,
is it possible to use this library with angular 9?
I am trying to update my app to angular 9 and I'm getting the following error:

[2020-05-27 00:30] estevaocm opened #94 "Failure to get PDF from server using JWT"
Hi! I've been trying to use ng2-pdfjs-viewer with a JWT authorization token, with limited success. I am able to download the full file with Angular and passing the blob into ng2-pdfjs-viewer. However, I believe this forces the page to always download the full PDF, while Mozilla's pdfjs can actually download only the requested segments as a default, and this would be ideal for my use case. However,

[2020-05-27 00:39] estevaocm commented on #94
Looking into your code, I was under the impression it treats only binary and string inputs, when it converts them to an URI format or somesuch. Perhaps the treatment for objects is missing?

[2020-05-31 00:41] FirstTimeInForever commented on #89
I was just scrolling through issues and saw yours. You probably already solved it, but if not, you can do something like this:
[code]
You should run it in `onDocumentLoad` event.

[2020-06-01 11:08] Halfist opened #95 "Viewer Intermittently Scrolls PDF Vertically on Load"
I use PDF viewer within [Dialog](https://material.angular.io/components/dialog). When it opens, sometimes PDF is vertically scrolled to some position. It looks like [this](https://i.imgur.com/RK2mivW.jpg). How can I prevent that behavior?

[2020-06-01 13:34] Halfist commented on #95
Fixed with `[page]="1"`. Though, I think this is dirty hack. Please suggest something better.

[2020-06-02 06:27] jordankkk commented on #88
pdfjs v2.5.207 pre release now.

[2020-06-02 08:26] igorlino commented on #88
Yeah, it includes performance optimizations:

https://github.com/mozilla/pdf.js/releases/tag/v2.5.207

[2020-06-04 15:49] Halfist opened #96 "Bundle Size Is Too Big"
If viewer is used with `{ "glob": "**/*", "input": "node_modules/ng2-pdfjs-viewer/pdfjs", "output": "/assets/pdfjs" }`, after `ng build --prod` folder `pdfjs` is about one third of the whole bundle size. In my case it's `11,3 MB` in `31,6 MB` bundle. Is there any solution to decrease it?

[2020-06-04 15:51] maks-humeniuk opened #97 "[diagnosticLogs]="false" Doesn't Work"
`[diagnosticLogs]="false"` doesn't work. I can still see `PDF f758ecc7f3ab6219566158b17de59a9a [1.4 Mac OS X 10.11.5 Quartz PDFContext / Pages] (PDF.js: 2.2.171)` in console.

[2020-06-09 11:27] maks-humeniuk opened #100 "[externalWindow]="true" Doesn't Work with Blob in IE 11"
`[externalWindow]="true"` doesn't work with blob in IE 11. [Demo](https://ng2-pdfjs-viewer.azurewebsites.net/) page isn't even opening there.

[2020-06-16 09:30] Halfist opened #101 "Custom Worker URL"
Is there a way to use custom PDF worker? I found PDF.js related articles that suggest using `window.pdfWorkerSrc = '/path/to/custom-pdf.worker.js';`, but it doesn't seem to work here.

[2020-06-16 22:44] penihel commented on #42
There is a plain to upgrade the viewer.js file?

Threre is a new option to change this resolution in the newest version

[2020-06-16 22:47] codehippie1 commented on #42
The update is coming soon. Been bit busy focusing on another project.

On Tue, Jun 16, 2020, 6:44 PM Penihel Roosewelt <notifications@github.com>
wrote:

[2020-06-26 12:51] rakesh0r opened #102 "Angular 10 support"
Generic type is missing

[code]

[2020-06-26 15:13] denis-starchenko commented on #102
+ Please to add Angular 10 support

[2020-07-01 05:55] kiranhpe commented on #89
Cannot read property 'PDFViewerApplication' of undefined is the error i'm getting

[2020-07-02 04:57] kiranreddysn opened #103 "How to download PDF by using external button?"
I have a requirement to download the PDF on button click, but i don't want to use the in-built download button.
I found the solution how can do it using below code
`this.pdfViewer.startDownload = true;
    this.pdfViewer.refresh();
    this.pdfViewer.startDownload = false;`

But it reloads the PDF which is not good, is there a way i can download without refresh() ?

[2020-07-02 05:51] #89 closed

[2020-07-06 02:49] jordankkk commented on #102
have to add --force to update

[2020-07-07 10:26] alham28 opened #104 "Adding watermark"
Can we add a watermark in every single page?

[2020-07-13 05:17] shahmeet999 opened #107 "Click event of PDF"
My requirement is to get the click event of pdf and want to get the X and Y Coordinates and page number on which the click is done on pdf in angular.

Thanks in advance.

[2020-07-14 06:40] xubalachandran commented on #76
Any updates on this issue? for printing from mobile devices ?

using below packages
 "@angular/animations": "~8.0.3",
 "@angular/cdk": "8.0.2",
 "@angular/common": "~8.0.3",
 "@angular/compiler": "~8.0.3",
 "@angular/core": "~8.0.3",
 "typescript": "~3.4.3"
 "ng2-pdfjs-viewer": "^5.0.7",

[2020-07-14 21:57] TheParad0X commented on #102
+1 :)

[2020-07-15 10:13] thomas3577 opened #108 "Angular 10 Support"
If i try to update to Angular 10, I get the following Error:

`                  Package "ng2-pdfjs-viewer" has an incompatible peer dependency to "@angular/core" (requires "^8.0.0" (extended), would install "10.0.3").
× Migration failed: Incompatible peer dependencies found.
Peer dependency warnings when installing dependencies means that those dependencies might not work correctly together.
You

[2020-07-27 20:25] codehippie1 commented on #108
@thomas3577 Just merged a pull request from a contributor to address this. Will create a new build and keep you posted

[2020-07-27 20:27] codehippie1 commented on #107
This is out of scope of this project and its capabilities.

Though, @shahmeet999 This is a wrapper of PDFJS, you may find exposed PDFJS objects you can work with. Please check documentation. If PDFJS is capable of handling your requirements, you can use these objects to get this done.

[2020-07-27 20:29] codehippie1 commented on #104
@alham28 This angular module being a wrapper of PDFJS, the core library does not support this. Refre: https://github.com/mozilla/pdf.js/issues/8178

[2020-07-27 20:29] #104 closed

[2020-07-27 20:30] codehippie1 commented on #107
@shahmeet999 A googling gave me this. You may start there -> https://github.com/mozilla/pdf.js/issues/6471#issuecomment-154085128

[2020-07-27 20:31] codehippie1 commented on #102
@TheParad0X @jordankkk @denis-starchenko @rakesh0r This change is just done. A build will be provided soon

[2020-07-27 20:32] codehippie1 commented on #101
@Halfist must be bit tricky. Let me get back to you on this

[2020-07-27 20:35] codehippie1 commented on #100
@Halfist PDFJS documentation states limited support on IE. You may find an earlier solved issue on IE in closed issues with workarounds

[2020-07-27 20:35] codehippie1 commented on #97
@Halfist Need to check this

[2020-07-27 20:39] codehippie1 commented on #94
@estevaocm Will check on this. Do you have a hosted sample?

[2020-07-27 20:39] codehippie1 commented on #93
@thimma11 Will be available in coming build

[2020-07-27 20:40] codehippie1 commented on #92
@CobusKruger Should be fixed after a pull request by angular cc. Please check and let me know if this is still an issue

[2020-07-27 20:42] codehippie1 commented on #88
@igorlino @jordankkk  Will be available in one of the upcoming builds

[2020-07-27 20:43] codehippie1 commented on #86
@dedaimia @Kiran-GitHuber do you have code prevents iframes from properly functioning?

[2020-07-27 21:07] dedaimia commented on #86
@codehippie1 not explicit code no.   As web servers and server-side technologies become increasingly more security-conscious, they are likely to have the "X-Frame-Options" header set to "DENY" by default.    Which yes, instructs the web browser not to display content in frames - so that a malicious actor can't display your site inside another website for "clickjacking" attacks.

For now we are sti

[2020-07-28 10:10] estevaocm commented on #94
Thank you for your consideration. Unfortunately, I cannot at this time provide a hosted sample, due to company policy. I could provide offline code samples, however. At the moment, we are using the inefficient workaround of downloading the entire blob and providing it to ng2-pdfjs-viewer. It would be outstanding to be able to do range downloads on the file.

[2020-07-29 19:00] #108 closed

[2020-07-30 22:03] kamalnp977 opened #111 "full screen for Firefox"
I've enabled full screen mode by setting fullscreen attribute to true. It works perfectly fine with Chrome but full screen button doesn't show up at all for Firefox. I don't see any error in console either.

[2020-08-08 15:08] Paul75 opened #112 "PDF open but signature not displaying."
hello,

I have a PDF it read but not all in document appear. In the document I have a signature that not display. It display good with app Adobe Acrobat Reader. With other (only test one) ng2-pdf-viewer it display good ...

Thanks

[2020-08-12 16:46] mehulbhuva commented on #102
@codehippie1 - Is this component compatible with Angular 10. I see that you had the changes ready. Am facing upgrade issues from Angular 9 to Angular 10. When can we get a new build version for this component?

[2020-08-12 20:34] BallisticPain commented on #102
I can see that the fix is in the [code](https://github.com/intbot/ng2-pdfjs-viewer/blob/master/dist/index.d.ts#L4). However, I'm still getting an error after running `npm install --update ng2-pdfjs-viewer`.

Error
[code]

@codehippie1 I imagine this is due to it not being published to NPM. Do you have a plan on when you're going to publish?

Thanks!
Jarvis

[2020-08-12 22:26] BallisticPain commented on #9
What I ended up needing to do before even running into the CORS issue(s) was to `encodeURIComponent(awsS3Url)` or I would just end up with an invalid URL due to how it is being passed into the iFrame. Thought I would throw that out to those that may not be getting a CORS error.

[2020-08-20 14:15] patidarpavan007 opened #113 "Search content in pdf and navigate to the page where content is fonud"
I have integrated ng2-pdfjs-viewer in my application and i want to create function from where i can search any keyword in the pdf and navigate to tha page where the content is matched.

[2020-08-30 17:25] Ng-India99 commented on #83
Did you got the solution ?

[2020-09-01 17:48] BemHur commented on #83
No, i ended up not using this lib and opening the pdf with the native pdf app

[2020-09-03 14:44] tsmith3480 opened #114 "Minified Files Not Being Used"
The script files pdf.js, pdf.worker.js and viewer.js have been minified (issue #22 ), but those versions are not being used. Can the module be updated to use those versions in a production build?

[2020-09-04 15:44] certifirm opened #116 "Iframe border property"
It would be interesting to allow to set the border of the iframe to 0.

Can you expose this property?

Thanks

[2020-09-14 11:41] TheParad0X commented on #102
As a workaround, I removed ng2-pdfjs-viewer from my package.json, I migrated to the latest Angular 10, and then I added it again.

[2020-09-30 20:15] msatghar94 opened #120 "Unable to Load ng2-pdfjs-viewer when the path to PDFJS folder is changed"
I changed the path of the pdfjs folder from assets -> pdfjs to files-> pdfjs -> and gave that path to the viewerFolder attribute of ng2-pdfjsviewer component but it is unable to locate. Can someone please help?

[2020-10-02 14:17] teosarpe commented on #97
any updates on this issue?

[2020-10-05 10:11] vrevanna opened #121 "How to add aditional HTTP headers to ng2-pdfjs-viewer"
In my case [pdfSrc] is backend api which returns pdf data. To authenticate api I need to pass Authorization header. How to pass aditional header to pass this through. Checked ng2-pdfjs-viewer documentation but i don't see anything.

[2020-10-07 12:55] artpoddybnyy opened #122 "Publish last released version to npm"
### Actual
* version on npm 5.0.7

### Expected
* version should be >6

[2020-10-07 18:26] silvl commented on #75
Is there an update?

[2020-10-12 10:48] thimma11 commented on #102
Any update on this? It would be very helpful if the change would be published to npm.

[2020-10-12 10:52] thimma11 commented on #102
Hi Jarvis!

Thanks for your workaround.

Unfortunately I'm getting
`Module not found: Error: Can't resolve 'ng2-pdfjs-viewer'`
after running ng serve.

Any idea why?

[2020-10-12 10:55] thimma11 commented on #102
Hi @BallisticPain !

Thanks for your workaround.

Unfortunately I'm getting
`Module not found: Error: Can't resolve 'ng2-pdfjs-viewer'`
after running ng serve.

Any idea why?

[2020-10-20 12:56] ISimplifyComplexity opened #123 "How can this be used with credentials?"
I need to set withcrednetials = true on the request. I can't see any way to do this. Is this possible?

[2020-11-14 10:32] pptyasar opened #124 "How to implement event bus?"
Pdf js provides Third party viewer usage as in  https://github.com/mozilla/pdf.js/wiki/Third-party-viewer-usage,

How to achieve this in ng2-pdfjs-viewer

[2020-11-18 08:05] bluewis777 commented on #51
facing the same issue using pdfjs 2.4.456 and firefox 83.0 (64-bit). had to hide the print button as a workaround

[2020-11-25 06:32] NicoPanduro commented on #122
Bump. This is currently blocking upgrading projects to Angular 10.

[2020-11-25 06:33] NicoPanduro commented on #102
@codehippie1 Any chance we can get the latest version published, so we can upgrade to A10 without hacks?

[2020-12-02 14:15] i7i5 commented on #102
@codehippie1 Any news, we actually migrate to Angular 10.

[2020-12-30 17:24] lixaotec opened #126 "Question regading features (embedded)"
Dear folks,

is it possible to accomplish what this tool does with pdfjs?

https://agentcooper.github.io/react-pdf-highlighter/#

How to get pdf to show inline embedded, like there is no menus at all, it seem a webpage.

Thanks

[2021-01-14 19:58] justinribeiro opened #127 "Accessibility: title attribute for the iframe is not meaningful"
Currently, the iframe title attribute is hard set within the template to `ng2-pdfjs-viewer`:

https://github.com/intbot/ng2-pdfjs-viewer/blob/5f93415482fa0d3aae34205c7c0e970405010e26/dist/index.js#L357

For screen readers users, they're not able to understand what type of content to expect within an iframe (2.4 NavigableTitles on Frames (2.4.1.b). It would be useful to be able to set the title on

[2021-01-18 06:57] ajai06 opened #128 "Double click (dblclick) in pdf-page"
(dblclick) click event not working or not firing event

[2021-01-27 16:34] Same17 commented on #102
@codehippie1  Are there any news? We actually migrated to Angular 10 and we would like to have a published version. Thanks a lot!

[2021-02-05 10:26] sgabb opened #129 "File local loading get "Unexpected server response (0)" (Offline - iOS)"
Hello, I'm encountering a weird error when trying to load a Blob saved locally (temporary stored in IndexedDB) while offline (no internet connection).
Unfortunately this is an issue only on iOS Safari (^_^)''

The error is:
**PDF.js v2.2.171 (build: c8c937c2) Unexpected server response (0) while retrieving PDF "blob?:https://[app-domain]/[fileUrl]". undefined**
Where [app-domain] is the same domai

[2021-02-06 22:19] i7i5 commented on #102
@Same17 This lib is dead as noone is working on it. We migrated to another lib as we raised angular versions.

[2021-02-09 12:01] TheParad0X commented on #102
@i7i5 which one?

[2021-02-09 17:55] i7i5 commented on #102
@TheParad0X we switched to ngx-extended-pdf-viewer.
BR

[2021-02-09 21:14] codehippie1 commented on #102
@rakesh0r @BallisticPain @TheParad0X @i7i5 Sorry for being away for a while. Pandemic and homeschooling consumed all the time. :-).  Will update the library soon. (For any upgrades like this, if any of you had time, send in a pull request, will push a build).

[2021-02-17 16:22] dedaimia opened #130 "Release Tags"
Could you please tag which commits/branches correspond to your released version on npmjs.com?
Makes it a lot easier when troubleshooting problems if can look at the exact code version we're running.

Specifically we're looking for which commit corresponds to the current (5.0.7) version.

[2021-02-18 17:55] mehulbhuva commented on #102
@codehippie1 - Have you updated ng2-pdfjs-viewer to support Angular 10 yet? Can you please do this?

[2021-02-22 17:56] Mojo1 opened #131 "compatibility Angular 11"
Could you update the peerdependency to angular/core from ^8.0.0 to ^11.0.0

[2021-02-27 05:01] codehippie1 commented on #131
@Mojo1  Updated @angular/core peer dependency to 11.2.3

[2021-02-27 05:01] #131 closed

[2021-02-27 05:05] codehippie1 commented on #102
@rakesh0r @BallisticPain @TheParad0X @i7i5 @mehulbhuva @Same17 @NicoPanduro @thimma11 @jordankkk @denis-starchenko Angular version is updated to @angular V 11.2.3. Please upgrade the npm package to 6.0.1 for this

[2021-02-27 05:05] #102 closed

[2021-02-27 05:08] codehippie1 commented on #126
You may use a DOM manipulator to remove the unwanted elements. That is the only way I could think of.

Also, post this question on stack overflow. The forum might be appropriate for non-bug/non-feature request type question

[2021-02-27 05:08] #126 closed

[2021-02-27 05:09] codehippie1 commented on #122
@artpoddybnyy @NicoPanduro Upgraded to angular 11. Update npm package

[2021-02-27 05:09] #122 closed

[2021-02-27 05:10] codehippie1 commented on #93
@thimma11 Upped to angular 11

[2021-02-27 05:10] #93 closed

[2021-02-27 05:21] codehippie1 commented on #130
@dedaimia  Started doing this with version 6.0.1. Hopefully I won't forget to do this going forward.

[2021-02-27 05:21] #130 closed

[2021-02-27 05:29] #85 closed

[2021-02-27 05:30] #84 closed

[2021-02-27 05:34] codehippie1 commented on #35
@Geevo Closing due to lack of information and follow-ups

[2021-02-27 05:34] #35 closed

[2021-02-27 05:34] codehippie1 commented on #40
Closing due to lack of follow-ups.

[2021-02-27 05:34] #40 closed

[2021-02-27 05:35] codehippie1 commented on #41
@vishnu-dev Started putting in release tags from V 6.0.1 onwards

[2021-02-27 05:35] #41 closed

[2021-02-27 05:56] codehippie1 commented on #60
@RobertasM Closing this issues due to non-activities. Please feel to reopen and provide a sample reproducible code if it still persists.

[2021-02-27 05:56] #60 closed

[2021-02-27 05:59] #63 closed

[2021-02-27 06:00] #67 closed

[2021-02-27 06:01] #68 closed

[2021-02-28 04:32] codehippie1 commented on #114
@tsmith3480 Will take a look

[2021-02-28 04:33] codehippie1 commented on #112
Can you try with mozilla's pdf.js directly. This angular component uses pdf.js behind the scenes

[2021-02-28 04:34] codehippie1 commented on #120
@msatghar94 Do you have some code to share - How did you do this.

On a side note - How to questions are more suitable to stackoverflow than here.

[2021-02-28 04:35] codehippie1 commented on #128
@ajai06 Would you be able to provide a code sample. What were you trying to do. Given information is not adequate enough to reproduce the issue.

[2021-02-28 04:37] codehippie1 commented on #129
@sgabb iOS Safari might be playing a role here. Have you tried this directly on the pdfjs viewer itself?

[2021-02-28 04:40] codehippie1 commented on #127
@justinribeiro My experience with accessibility adherence is quite limited. Please send me a PR if you have time, I will gladly merge(This library is extremely simple at 300 lines of code)

[2021-02-28 04:43] codehippie1 commented on #124
@pptyasar If you look into the code/documentation - You may see that PDFViewerApplication object and PDFViewerApplicationOptions objects are exposed via get(), Follow mozilla's documentation from the link you provided once you get hold of these objects.

[2021-02-28 04:44] codehippie1 commented on #123
@FacePalmDev I will get to this. If you are in a hurry, please send in a PR - Will be happy to approve and provide a new uild

[2021-02-28 04:45] codehippie1 commented on #121
@vrevanna As of now, pdf is loaded in an iframe with an http get request. Let me look into this if custom headers can be added

[2021-02-28 04:48] codehippie1 commented on #121
@vrevanna Check these out
https://stackoverflow.com/questions/13432821/is-it-possible-to-add-request-headers-to-an-iframe-src-request
https://stackoverflow.com/questions/17694807/how-to-set-custom-http-headers-when-changing-iframe-src/17695034#17695034

[2021-02-28 04:48] codehippie1 commented on #116
@certifirm Good suggestion - Will look into this

[2021-02-28 04:50] codehippie1 commented on #113
PDFViewerApplication and PDFViewerApplicationOptions objects are exposed. If you put these objects into good use, anything pdf.js can do could be achieved programmatically.

[2021-02-28 04:50] codehippie1 commented on #112
@Paul75 Also, can you send me the file you are trying with?

[2021-02-28 04:51] codehippie1 commented on #111
@kamalnp977 Some of these features are browser dependent. Did you try this directly on viewerjs?

[2021-02-28 04:52] codehippie1 commented on #107
Closing due to non-activity or updates

[2021-02-28 04:52] #107 closed

[2021-02-28 04:54] codehippie1 commented on #103
@kiranhpe Just use plain old jQuery or Javascript and do a click() trigger on the viewer's download button.

See a sample here : https://stackoverflow.com/questions/3560227/jquery-javascript-trigger-button-click-from-another-button-click-event

[2021-02-28 04:55] codehippie1 commented on #96
@Halfist As another user pointed out, the viewer is not using minified version of pdfjs. Will look into this

[2021-02-28 04:57] codehippie1 commented on #95
@Halfist Will update underlying pdf.js file. This is definitely a bug at PDFJS end. A newer version shouldhave fixed this

[2021-03-01 04:16] jordanorc commented on #114
Same problem here. And the source maps are also included in the build. Any workaround?

[2021-03-16 01:33] faizaldong opened #132 "Remove min-width: 320px from #mainContainer"
Hi Maintainer,

Currently Im working with Angular SSR and only your library can use to display the pdf. from your library I need to take out the min-width from `id="mainContainer"`. refer below image. Is there any workaround to set `min-width: none`  or remove the `min-width`?

thank you

<img width="507" alt="Screenshot 2021-03-16 at 9 31 14 AM" src="https://user-images.githubusercontent.com/1735

[2021-03-16 01:40] faizaldong opened #133 "Remove header toolbar"
Hi Maintainer,

As title mentioned, in your library is there any variable that we can pass to remove the top toolbar? I want the library to display the pdf only without the toolbar at the top. I had try to set all necessary variable to false, but only few button got hide.

thank you.

<img width="1026" alt="Screenshot 2021-03-16 at 9 36 44 AM" src="https://user-images.githubusercontent.com/1735262

[2021-03-16 01:58] faizaldong commented on #132
I have very small screen to display the pdf file, and somehow the width of the pdf is not full width

<img width="315" alt="Screenshot 2021-03-16 at 9 56 51 AM" src="https://user-images.githubusercontent.com/17352624/111244524-13032680-863e-11eb-83af-9e262b611934.png">

[2021-03-18 13:58] almalib commented on #39
Hi, I can't figure out what the VIewerID is. What did you keep in 'default'?

[2021-03-19 07:39] almalib opened #134 "ViewerID"
Hey! The documentation states that in order to use events (like onDocumentLoad) I have to use viewerID. But I can't figure out what this viewerID is. Can you explain please.

[2021-03-19 10:57] almalib commented on #38
Hi. How to install it correctly? what should be passed to the viewerID?

[2021-03-20 14:28] pro100maksua opened #135 "Fresh install error. Missing PDF "/assets/pdfjs/web/compressed.tracemonkey-pldi-09.pdf"."
![image](https://user-images.githubusercontent.com/7556151/111873351-97380f80-8998-11eb-9ea0-f8836c1c317c.png)

Tried on angular 11 fresh install, package version 6.0.1. Error appears with npm run build, ng serve works fine.

[code]

If I add 'compressed.tracemonkey-pldi-09.pdf' file to pdfjs/web folder, it shows that file instead of file specified in pdfSrc

[2021-03-20 22:23] #134 closed

[2021-03-21 20:41] pro100maksua commented on #135
My mistake, after switching to different server it works now (serve to live-server)

[2021-03-21 20:41] #135 closed

[2021-03-23 04:46] faizaldong opened #136 "PDF viewer set full width"
Hi maintainer,

Please refer attached image below. What I want to achieve is to make the width for all pages as full width. From the image below, you can see the first page of the pdf, the size is full width, I did it by hijacking the style from the browser. Is there any work around to achieve this?

Thanks!

<img width="329" alt="Screenshot 2021-03-23 at 12 43 37 PM" src="https://user-images.gith

[2021-03-23 04:49] #132 closed

[2021-03-23 04:49] faizaldong commented on #132
Close the report as the issue only happen in Desktop version. Im encounter it with iframe

[2021-03-24 12:15] patidarpavan007 opened #137 "How can i cache a loaded file"
I dont want to load file if it was previously loaded can i enable cache so that the PDF file can be easily displayed from cache.

[2021-04-03 07:07] rkmr039 opened #138 "remember current page number to open pdf from where user left it"
For better reading experience, PDF viewer should have some mechanism to open PDFs from the page which was opened last time(last read of same PDF). If it's first time for PDF then open the first page. Include a checkbox in setting menu for enable/disable this feature.

[2021-04-06 11:03] flaviorocks opened #139 "Use correct peer dependency config"
When using this package within an Angular project with a version lower than 11, we get a warning saying
`"ng2-pdfjs-viewer" has incorrect peer dependency "@angular/core@^11.2.3"`.

But since this project supports angular versions from 2, the peer dependencies should be set to a range ` "@angular/core": "<= 11"`.
This way, there would only be a need to test if any new version of Angular is supporte

[2021-04-06 11:39] flaviorocks opened #141 "Can't use fullscreen when viewer and file are from different domains"
For my setup I have the viewer file coming from a CDN and the file coming from a different domain.
I pass the url to `[viewerFolder]="https://my-cdn/pdfjs"` and the encoded file URL to `[pdfSrc]="getEncodedFileUrl()"`.

This setup renders the viewer and the pdf correctly, but, since the domain is not the same as the website, the browser doesn't allow fullscreen on the iframe automatically, as is t

[2021-04-26 20:09] mharrisn commented on #8
Just want to add a note - this does NOT work for all Presigned Urls. It's hit or miss. If the signature includes a +, this will still fail.

[2021-04-29 18:27] zakhenry commented on #70
@codehippie1 the https://mozilla.github.io/pdf.js/web/viewer.html works, but that is expected as it does not have a content security policy in either the headers or the html head

[2021-05-11 00:39] robertomorati opened #147 "using minified files"
Hi @petebacondarwin and @anthonybriand!

I hope everything is going well with you!

Please, could you clarify the following doubt (?):

- Please could you verify the use [Use minified versions of pdfjs *.js dependencies #22
]( https://github.com/intbot/ng2-pdfjs-viewer/issues/22) in a production release?

Best regards

[2021-05-11 10:20] petebacondarwin commented on #147
I'm not sure why you linked me into this issue?

[2021-06-01 12:27] Avejack commented on #85
This is not working for me...

It did not change anything.

my html:
[code]

my component:
[code]

As you can see I am even trying to call "markForCheck()" to hopefully fire any change but nothing changes... The console.log gets logged to the console, but the textLayer is still rendered above the canvas.

[2021-06-22 11:24] tigrenok00 opened #152 "Single page viewer"
Hi!
Did anybody find a way to display single pages only, without scrolling the full document? I know PDF.js has a SinglePageViewer but it is much more convenient to use this component.
Thanks!

[2021-06-22 11:44] tigrenok00 commented on #85
@Avejack Same here... Did you find a solution?

[2021-06-22 11:49] tigrenok00 opened #153 "Canvas mouse events"
Hi,

I'm trying to capture mouse events on a page canvas, but this doesn't seem to get triggered.
When I used PDF.js directly this was working, but using this plugin it does not.
Any idea how to achieve it?
I also tried to not set the cursor to hand, and tried disabling text and annotation layers (which did not work - I saw another issue opened about it), but it didn't help.

[code]

[2021-06-23 09:05] Avejack commented on #85
For my use case - yes. But not for this problem - sorry.

[2021-06-23 23:53] jordanorc commented on #96
Any progress on this?

[2021-07-09 00:27] lironbenjamin opened #154 "PDFs not rendering in external windows in IE11"
I am attempting to open a PDF blob in a new window on IE using the following and reading in the pdfSrc programmatically in my component.
`<ng2-pdfjs-viewer [externalWindow]="true" [download]="false"  #externalPdfViewer></ng2-pdfjs-viewer>`

While this works as expected in Chrome, when opening it in IE11, I get the following error message and the PDF is not rendered.

New Tab:
<img width="1680" alt

[2021-08-04 20:56] #139 closed

[2021-08-05 13:39] lpuccio opened #157 "Some content of PDFs not rendering in latest browsers"
We're having an issue with some of the text of our documents not rendering on the canvas. It seems that the newest browsers (Chrome 92, Edge) required an update to PDF.js. You may want to update the version of PDF.js that you bundle with the app. Meanwhile, is there a way to get ng2-pdfjs-viewer to use an external version of pdfjs?

Thanks.

The PDFjs issue that was updated is detailed here:

http

[2021-08-06 14:39] szh commented on #157
As you can see [here](https://github.com/mozilla/pdf.js/pull/12924/files), this is literally a one line fix in pdf.js. I manually editing node_modules\ng2-pdfjs-viewer\pdfjs\build\pdf.worker.js with this change and it fixes it. So maybe in the interim we can just get a patch to that file while we wait on a full update of pdf.js?

[2021-08-06 15:09] codehippie1 commented on #157
For now, manually change it and send in a pull request. I will merge and
provide a build. (Please note - I would be doing a pdfjs version bump soon)

Also- If you would like to be part of this project - Let me know, I will
add you to the team.

Code

On Fri, Aug 6, 2021, 10:40 AM Shlomo Zalman Heigh ***@***.***>
wrote:

[2021-08-09 19:38] LuizWeitz opened #159 "Please, SRC DATABASE"
Hello,

first excellent project

I need help in the src, my case is, I register the url of the pdf of another server in my database, then I need to pass this url to the pdf src for it to read, but it doesn't read

example of code

  "  ng2-pdfjs-viewer pdfSrc="{{book.read}}"></ng2-pdfjs-viewer   "

but when I do that nothing happens, nor does the console get an error

[2021-08-09 19:41] codehippie1 commented on #159
This seems to be how to use library question. Please create a stack
overflow question with this library as tag along with code sample.
Community will help.

Code

On Mon, Aug 9, 2021, 3:38 PM Luiz Weitz ***@***.***> wrote:

[2021-08-09 19:46] LuizWeitz commented on #159
Thanks

[2021-08-09 19:49] #159 closed

[2021-08-11 12:23] chriseenberg commented on #157
Any news on when the PR will be approved? I need this change also, and cannot edit node_modules as it gets built on a server with a fresh node_modules folder.

[2021-08-11 17:04] #157 closed

[2021-08-11 17:08] codehippie1 commented on #154
Seems to be a PDFJS issue - https://github.com/mozilla/pdf.js/issues/11192. - Also, you may ask this on stack overflow with pdfjs and ng2-pdfjs-viewer tag

[2021-08-11 17:11] codehippie1 commented on #153
@tigrenok00 Though the library exposes underlying pdfjs object -  The requested issue is beyond the capabilities and vision of this wrapper. I have plans to upgrade the underlying pdfjs to latest stable version. You may check it then. Till then look for solutions via stackoverflow with this library as tag.

[2021-08-11 17:14] codehippie1 commented on #152
@tigrenok00 I am planning to bump pdfjs version within this library. Once I do - I will try to expose this as a parameter

[2021-08-11 17:20] codehippie1 commented on #141
@flaviorocks This is a unique issue. Please create a working sample - I will take a look when I have time. Also you may ask this question on SO.

[2021-08-11 17:22] #138 closed

[2021-08-11 17:23] #137 closed

[2021-08-11 17:25] codehippie1 commented on #133
@faizaldong You may use simple javascript visibility:hidden to achieve this. Better yet - jQuery would be a breeze. I will keep this in backlog as a nice to have and will get to it eventually as time permits. Also - Please send in a pull request with this feature implemented - would be happy to merge

[2021-08-11 17:26] codehippie1 commented on #129
Closing as no response.

[2021-08-11 17:26] #129 closed

[2021-08-11 17:26] codehippie1 commented on #128
Closing as vague and incomplete issue

[2021-08-11 17:26] #128 closed

[2021-08-12 07:07] CristianPumaES6 commented on #153
Hola, tuve un requerimiento en el cual querían ver la información de cada punto del chart.
lo que hice fue solo, activar todos los tooltip antes de tomar captura al elemento canvas.
Fue todo un dolor de cabeza.

Te mando una captura para que veas como quedo haber si te da una idea.

Saludos y suerte!

![image](https://user-images.githubusercontent.com/29841048/129152981-f7ce6736-6f26-4a26-865b-34d

[2021-08-12 07:20] CristianPumaES6 opened #163 "🚀 Help enabled hand tool by default 🍔🍔"
Hello :hamburger: ,
How can I make the :hand:  **hand tool** option appear enabled by default.

It is very useful to move around, a common user would not know that this tool exists, so I want it to be activated by default.

![image](https://user-images.githubusercontent.com/29841048/129154492-50037e72-8006-4992-8152-dbf7decf6441.png)

Greetings from Peru!
Thanks

[2021-08-12 07:21] CristianPumaES6 commented on #163
:rocket:

[2021-08-16 15:38] LAlves91 commented on #112
Hi @Paul75 !

This library uses a local copy of PDF.js underneath. Currently, this copy is of PDF.js v2.2.171, which is the cause of your problem: PDF.js didn't display Digital Signature Widgets until v2.9.359 (implemented on pull request [#13214](https://github.com/mozilla/pdf.js/pull/13214)).

In order to display digital signatures, you'll have to use your own version of pdf.worker.js (I'm still

[2021-08-17 07:49] flaviorocks commented on #141
@codehippie1 Thanks for the reply. I will try to create a sample and ask on SO.

[2021-08-17 14:24] spikensbror opened #164 "Compatibility Angular 12"
Could you update the peer dependency to angular/core from ^11.0.0 to ^12.0.0? We are currently stuck with our update of Angular until this is resolved.

[2021-08-19 03:12] hoangquockhanh opened #165 "embed file pdf have password"
can you update attribute to add password when embed file pdf have password (in lib pdfjs have attribute to add password like this: this.loadingTask = this.pdfjsLib.getDocument({ url: url, password: password });
)

sorry my english not good

[2021-08-19 19:10] thegeox commented on #97
any update on this issue?

[2021-08-23 06:45] anees-tricon opened #166 "Sidebar default behaviour"
The left sidebar seems to be closed by default for few pdfs and opened for few others? Is the tool taking some kind of decision on how it should be?

I had tried to close the sidebar always using the onDocumentLoad event, but the problem is, the side bar appears for a split second before being closed programmatically. Causing a flicker.

[code]

[2021-08-23 13:27] raykin commented on #166
@anees-tricon I explicitly set pagemode to none can fix it in iframe. It seems iframe can't disable sidebar by default.
Here is a code example.
[code]

[2021-08-23 13:29] anees-tricon commented on #166
@raykin , this looks more like removing the sidebar all-together from what i understand. I would want to keep the sidebar, but closed by default.

[2021-08-23 13:30] raykin commented on #166
@anees-tricon it doesn't remove sidebar. I tested it in app and it just close sidebar, I can still open sidebar with two view mode. It also add a green dot to the sidebar.

[2021-08-23 14:04] anees-tricon commented on #166
@raykin , i did not get what you meant `in iframe`

[2021-08-23 14:08] raykin commented on #166
@anees-tricon nevermind. I mean the PDF viewer opened in iframe. I used it in hybrid app so it could be different from web browser.

[2021-08-23 15:10] anees-tricon commented on #166
@raykin , thanks for your suggestion. This definitely should help remove the flicker(i haven't tried it yet).

on my original question, for few pdfs its closed by default and open for other few. I was wondering if the tool is somehow deciding it based on the content or something like that. If that is the case, i believe it is for a reason and hence i would not want to change the behaviour.
And if

[2021-08-24 07:40] raykin commented on #166
@anees-tricon well, I have no suggestions on your troubles. I notice PDF state sometimes can be remembered in my app. You can search more issues in PDF.js repo. Someone may have answers.

[2021-08-24 10:53] anees-tricon commented on #166
The state remembering is another thing i had doubts on. As you say it is sometimes.
I really want to know more about it. That's for another thread though.

[2021-08-25 11:11] anees-tricon commented on #166
Closing this as `pagemode="none"` did the trick for me.

[2021-08-25 11:11] #166 closed

[2021-08-25 11:53] anees-tricon opened #167 "onDocumentLoad does not fire when the viewer is hidden"
I am trying to do a simple show hide use case.
i will show a loading icon and hide the pdfjs viewer initially and in onDocumentLoad i toggle the boolean so that the loader goes away and the pdf is visible.

What i observe is, if the pdfjs viewer is hidden, the event does not trigger. Is that by design?

[code]
[code]
[code]

[code]

Even if its hidden via the parent using `[hidden]` or by css the

[2021-09-21 14:51] anees-tricon opened #170 "page number display on toolbar"
Hi Team,

  I see some difference in the page number display section for certain pdf document. I just wanted to get some clarity on why this is happening. Could someone please help answer my query?

<img width="802" alt="Screenshot 2021-09-21 at 8 17 39 PM" src="https://user-images.githubusercontent.com/9270288/134193350-fce2e96a-6cba-4f0e-963a-5479ebd40684.png">

<img width="802" alt="Screenshot

[2021-09-22 07:29] mmirzaeyan opened #171 "offsetParent is not set -- cannot scroll"
when using ng2-pdfjs-viewer inside a bootstrap navbar  and get a pdf file from a rest give this error :

offsetParent is not set -- cannot scroll

angular version : 11.0.0

ng2-pdfjs-viewer version : 6.0.2

[2021-09-27 06:48] ankurkoul92 commented on #164
Yes, even we want to upgrade our project to angular 12. But are stuck because of `ng2-pdfjs-viewer` package.

Let me know if I can be of some help on this.

[2021-09-27 10:39] petebacondarwin commented on #164
If the library works with v12 of Angular, then you could just ignore this peer dependency constraint @ankurkoul92. But you need to test it.

[2021-10-02 09:00] obadaka961 opened #172 "Error while RenderPageRequest: page 0"
getOperatorList Error: Failed to execute 'postMessage' on 'DedicatedWorkerGlobalScope': function at() { [native code] } could
    not be cloned.
    at MessageHandler.postMessage (http://localhost:4200/assets/pdfjs/build/pdf.worker.js:55977:19)
    at MessageHandler.send (http://localhost:4200/assets/pdfjs/build/pdf.worker.js:55658:10)
    at TranslatedFont.send (http://localhost:4200/assets/pdfjs

[2021-10-08 03:47] AnsonWooNexify commented on #164
I tried in v12 of Angular, it shown nothing on the screen, anyone like me?

[2021-10-13 20:37] lin5787 commented on #172
I saw the same error yesterday, which let me to this page, but then I discovered that https://github.com/intbot/ng2-pdfjs-viewer/issues/157 appears to be addressing the same issue and I can now confirm it does.

[2021-10-18 10:12] pulkitpatel95 opened #173 "Missing characters in rendered pdf"
While opening a pdf file using ng2-pdfjs-viewer, some characters are missing. Attached are pdf samples which are not rendered correctly.

With other PDF viewers:
![image](https://user-images.githubusercontent.com/59560083/137711397-4905fd8b-a2e3-4a63-9277-4497f3283608.png)

With ng2-pdfjs-viewer:
![image](https://user-images.githubusercontent.com/59560083/137711569-2e2ec225-f54c-43fd-aa93-c698fa3f

[2021-10-21 06:39] YipingRuan commented on #147
Instead of using the provided file, try the below:

Copy the `node_modules\ng2-pdfjs-viewer\pdfjs` to a place like `assets\pdfjs` (Already assets folder and no need to config angular.json)

Edit the `assets\pdfjs\web\view.html` file to use the `*.min.js` (or replace with some CDN?)
![image](https://user-images.githubusercontent.com/5492274/138223670-ee65e055-7274-442d-a7b8-87f8ae07e9c3.png)

Delet

[2021-11-09 18:51] tonymarkoc opened #174 "Opening PDF in new window every time"
When using externalWindow, is it possible to open the PDF in new window each time? Currently it will re-use the tab that is already opened from the previous PDF. I need to compare 2 PDFs side by side, so i have to have them open both at the same time. Currently openning the other PDF will just open it in the first PDF's tab.

[2021-11-15 16:00] mmfKupl opened #175 "Can't open links witch has redirect"
link for example - https://drive.google.com/uc?id=1aEspq9qDRop29enKfu--jq6FRdvKifSp
![image](https://user-images.githubusercontent.com/26582175/141813882-c0494602-22a3-4054-bf55-210dfc47970d.png)

[2021-11-16 09:03] breadcrumbe commented on #164
I have just upgraded one of my projects from Angular 11 to Angular 12 and I have ng2-pdfjs-viewer 6.11 - which is working 100% - although it did complain about the dep.

[2021-11-16 23:08] blkdog opened #176 "Viewer not displaying annotations."
using https://github.com/highkite/pdfAnnotate to add annotations to downloaded pdf's. I do not see any of the annotations that I add, but when I download the document via the viewer the annotations are present in the downloaded doc.
[code]

[2021-11-17 18:25] #176 closed

[2021-11-17 18:25] blkdog commented on #176
User error. Sorry

[2021-12-10 10:42] anees-tricon opened #177 "Print and Download not working on handheld devices"
Print and download functionality does not work on Iphone, Ipad and Android Phones.
In some devices print is working, in some devices download works.

I have reproduced the issue here https://pdfv-iewer-mh0s5r7ud-akan2096.vercel.app/

Using latest version of the library with Angular 12.

Thanks

[2022-01-16 21:09] rogerfar commented on #164
How about v13?

[2022-01-17 13:35] logerk46 commented on #164
@rogerfar hi,

I have now tried ng2-pdfjs-viewer (6.0.2) with version 13 of Angular and everything works.

[2022-01-21 06:30] kai1992cool opened #179 "Using print option in component is printing with less resolution and causing printed text to be unreadable."
Hi Team,

Thank you for this amazing component. We currently use this project and are having an issue where using the print button of the component is resulting in the printed document in chrome is rendered with very low quality.

Have personally analyzed this issue and have identified that its due to a harcoded value in the local pdfjs package you are using which seems to be an old version of pdf

[2022-01-28 07:03] ashishmathew1111 commented on #173
I have been facing a similar issue to this. Does the given text disappear at 50% and 100% zoom only?

[2022-01-31 12:09] konstantinschuette commented on #164
![image](https://user-images.githubusercontent.com/18708105/151791471-2ebf1d32-2b6c-484a-a774-db6468d8ae04.png)

Are you sure about that?

[2022-01-31 14:53] pmenze commented on #164
Same here. I was using nodejs 12 with angular 13 and ng2-pdfjs-viewer (6.0.2). after updating to node 16 it shows the same error as in the previous post by @konstantinschuette

[2022-01-31 19:29] konstantinschuette commented on #164
It seems like this project is inactive or rarely maintained.
The package uses Angular 11, soo... we might have to choose another package...
Looking 10 minutes into Google i found this: https://github.com/stephanrauh/ngx-extended-pdf-viewer
The only thing that bothers me is, that the bundle size is significantly larger than this one.

Also that project is maintained, so I might give it a try.

[2022-01-31 19:35] codehippie1 commented on #164
Please send in a pull request with angular upgrade if you can. I will merge and give you a build.

[2022-01-31 19:59] rogerfar commented on #164
@konstantinschuette @pmenze I switched to https://github.com/VadimDez/ng2-pdf-viewer

[2022-02-02 11:48] pmenze commented on #164
I tried to update your repo to ng13. The SampleApp worked using ng13 (using the "ng2-pdfjs-viewer-6.0.1.tgz" file). However I could not update the build itself... the gulp script refers to the angular compiler which seems not to work in ng13...
https://github.com/intbot/ng2-pdfjs-viewer/blob/e4afd8ee44c76f8d44fdd17f48142dc613826c7c/gulpfile.js#L4

Maybe the project could be changed to use standard

[2022-02-07 14:13] konstantinschuette commented on #164
Thanks for trying but I think this project is dead.
I will switch to https://github.com/stephanrauh/ngx-extended-pdf-viewer

[2022-02-15 20:04] codehippie1 commented on #164
@konstantinschuette @pmenze @logerk46 @AnsonWooNexify @spikensbror @ankurkoul92 I upgraded the whole thing to use latest ng-packager. It's more lean and abides latest angular packaging standards. - And works with all angular versions. I started versioning the package to match angular versions(Current is 13.2.2) which it has a peer dependency on.

Test it and let me know.

Again - Sorry for the lat

[2022-02-15 20:04] #164 closed

[2022-02-15 20:06] codehippie1 commented on #120
Closing due to inactivity

[2022-02-15 20:06] #120 closed

[2022-02-21 16:15] SpadaSimone opened #184 "Programmatically navigate to bookmark or Annotation"
Hi!
Is it possible to programmaticly navigate to a certain bookmark or annotation ?

[2022-02-24 01:09] codehippie1 commented on #184
It is possible to go to named destination using parameters provided. I am afraid for bookmarks, you would have to use underlying PDFApplication object(It is exposed for convenience)

[2022-02-24 01:10] codehippie1 commented on #163
Use 'cursor' attribute. It is mentioned in documentation.

[2022-02-24 01:11] codehippie1 commented on #174
Use 'externalWindowOptions' attribute. These sort of questions are best fit for stack overflow

[2022-02-24 01:11] #174 closed

[2022-02-24 01:13] codehippie1 commented on #184
You may look into pdfjs documentation to see exposed methods on PDFViewerApplication and PDFViewerApplicationOptions. Stack overflow might be where to start

[2022-02-24 01:13] #184 closed

[2022-02-24 01:14] codehippie1 commented on #167
Closing as the user achieved desired outcome

[2022-02-24 01:14] #167 closed

[2022-02-24 01:15] #163 closed

[2022-03-18 11:17] gobi004 opened #185 "Not supporting other formates"
Other then pdf format files which is not supporting the other type of files like tiff,doc,etc. Enable the support for all kind of file types which will be more useful

[2022-03-28 09:48] pclainchard commented on #112
Hi guys,
I have a similar issue for one of my project.

Do you know if it is related to the use of an old version of PDF.js ?
Is there a workaround for this issue ?

Let me know if I can be of any help :P
Cheers
Pierre

[2022-04-14 12:32] Toso82 opened #186 "How Retrive Blob loading"
Hi i have latest version i want to know it is possible to have the blob file loading on file open of pdf component.

[2022-04-15 14:42] codehippie1 commented on #185
As the title of the library states - This is a pdf viewer, I highly doubt this becomes a media player eventually. Closing as this request is off-topic.

[2022-04-15 14:42] #185 closed

[2022-04-25 08:57] crabouif opened #187 "OnAfterPrint event not triggered when printing with custom button"
Hy,

I want to start printing of PDF document from an own button (stylized). So for that I hidden the default print button in tool bar `[print]="false"` and I start manually the printing with my button by reloading PDF with `startPrint` option:

[code]

[code]
But in this case, the `onAfterPrint` event is not triggered.
Do you hanve any idea ?

Thanks a lot for great job !

[2022-04-25 09:09] crabouif commented on #187
Sorry I found my self mistake:
As described in [your demo](https://ng2-pdfjs-viewer.azurewebsites.net/events), I just added the `viewerId` and it works.
[code]

[2022-04-25 09:09] #187 closed

[2022-04-26 22:34] codehippie1 commented on #186
blob and bite array is supported. Read documentation - https://ng2-pdfjs-viewer.azurewebsites.net/bytearray

[2022-05-03 23:00] shash7976 commented on #164
Hi @codehippie1,
Hope you are doing great now

I'm still facing this compatibility issue on the server

`4:11:06 PM: npm ERR!     peer @angular/animations@"^13.0.0 || ^14.0.0-0" from @angular/material@13.0.3
4:11:06 PM: npm ERR!     node_modules/@angular/material
4:11:06 PM: npm ERR!       @angular/material@"~13.0.3" from the root project
4:11:06 PM: npm ERR!     1 more (@angular/platform-browser)

[2022-05-03 23:10] codehippie1 commented on #164
Which version are you using?

[2022-05-03 23:12] codehippie1 commented on #164
Are you on latest version? I don't see any peer dependency to older packages
![image](https://user-images.githubusercontent.com/18332214/166587754-a4007cf6-606b-40e0-8818-089b5fdca274.png)

[2022-05-03 23:13] codehippie1 commented on #164
Also - this is a closed issue, create another one.

[2022-05-03 23:13] codehippie1 commented on #186
@Toso82 - Since I didn't hear from you after supplying documentation, closing this

[2022-05-03 23:13] #186 closed

[2022-05-03 23:14] codehippie1 commented on #179
Please send in a PR. I am struggling to cope with all the bugs and requirements as I am the sole contributor now. Appreciate all the help.

[2022-05-03 23:15] codehippie1 commented on #177
I will check this.

[2022-05-03 23:18] codehippie1 commented on #177
Just tried this on latest version. Working fine

Phone - Samsung galaxy S21 Ultra

![Attachment](https://user-images.githubusercontent.com/18332214/166588216-236ed1da-e3e2-458b-9f5d-8de5ed42faea.jpg)

[2022-05-03 23:19] codehippie1 commented on #177
Send in a PR if the issue is specific to device browser/OS models

[2022-05-03 23:20] codehippie1 commented on #175
Can you create a minimally reproducible sample on stackblits or codesandbox ?

[2022-05-03 23:21] codehippie1 commented on #173
This feels more like a PDFJS issue. Can you check the issue list on PDFJS github?

[2022-05-03 23:24] codehippie1 commented on #171
Please create a minimally producible sample on codesandbox or stackblits

[2022-05-03 23:25] codehippie1 commented on #170
Since you mentioned "certain pdf document", Can you set up a sample where issue is reproducible with said document?

[2022-05-03 23:25] codehippie1 commented on #165
I am a bit lost here, Can you send in a PR?

[2022-05-03 23:26] codehippie1 commented on #154
Closing due to inactivity

[2022-05-03 23:26] #154 closed

[2022-05-03 23:28] codehippie1 commented on #153
@CristianPumaES6 The library is to display PDF, I am unsure if I can help with specific requirements your clients have. Ask a question on SO with ng2-pdfjs-viewer as tag

[2022-05-03 23:28] #153 closed

[2022-05-03 23:29] shash7976 opened #188 "Compatibility issue with Angular 13.0.4"
Hi @codehippie1,
Hope you are doing great now

I'm still facing this compatibility issue on the server

<img width="790" alt="image" src="https://user-images.githubusercontent.com/83197691/166586719-431301ac-cb1a-430b-a5c5-5af75c928906.png">

Package.json contain
"ng2-pdfjs-viewer": "^6.0.2",

if I run `npm update ng2-pdfjs-viewer` on my local machine I get an error
![image](https://user-images.gi

[2022-05-03 23:29] shash7976 commented on #164
yep created one
Thanks

[2022-05-03 23:30] #141 closed

[2022-05-03 23:30] codehippie1 commented on #133
Closing as out of scope

[2022-05-03 23:30] #133 closed

[2022-05-03 23:33] codehippie1 commented on #188
As I said in the other issue, upgrade the package to 13.2 and you should be good.

[2022-05-04 00:05] #188 closed

[2022-05-04 05:51] Toso82 commented on #186
@codehippie1 Sorry I see now I know that I can load blog file inside but my problem it is if I load file with pdf components buttons.. There is nothing can use to retrieve blob load inside?

[2022-05-04 11:56] codehippie1 commented on #186
This request is beyond the scope of this project. Create a SO question for ideas.

[2022-05-25 08:08] ZsuzsaPetho commented on #70
PDF.js has two version. one for all the browsers (old ones as well) and one for only newer versions. The problem is with polyfills and only the version with older browser has it. Would it be possible to have two version from this library as well? so those who only develop for newer browsers could use the one with stricter security settings.

[2022-06-02 15:25] angelaki opened #189 "Plans on updating PdfJs viewer"
I've updated the pdfjs binaries and everything works out of the box - except messages / events. E.g. onDocumentLoad isn't working any more. Any plans on updating the binaries?

[2022-07-08 18:12] dbaggott commented on #70
@ZsuzsaPetho @Spiral1401, have either of you found a work-around that doesn't require adding unsafe-eval to CSP headers?

[2022-07-12 09:42] roma2341 commented on #44
Same issue on Chrome, when i click browser Back button it stays on the same browser page.

[2022-07-15 07:57] sgabb opened #190 "Angular 14 compatibility"
Hello, any plan to update compatibility and dependency to Angular 14?

[2022-07-21 07:29] HoaBanMC opened #191 "Doesn't hide scaleSelectContainer on mobile when use 2 ng2-pdfjs-viewer on 1 page"
I have this issues on mobile when use 2 div show/hide 2 components  ng2-pdfjs-viewer on page:

![image](https://user-images.githubusercontent.com/12248286/180152458-02a9f148-e0c5-45f8-b762-3b1544487ce1.png)
![image](https://user-images.githubusercontent.com/12248286/180152527-b8186158-2982-46ee-a5b0-e3133b60a2fe.png)

[code]
viewer.css on second div doesn't work
![image](https://user-images.github

[2022-07-21 18:17] dbaggott commented on #70
For anyone who comes here in the future, we switched to https://www.npmjs.com/package/ngx-extended-pdf-viewer

[2022-07-22 20:16] codehippie1 commented on #190
Soon, Will do in next couple of weeks

[2022-08-01 00:03] RobRoyce commented on #189
Adding a +1 for 2.15.349+

Would be awesome!

[2022-08-11 08:27] MotassemJa commented on #190
Any updates on this? :)

[2022-08-11 12:11] Kreash commented on #190
really want support for angular 14 =)

[2022-08-13 23:34] dereekb commented on #190
This is the last dependency I need for upgrading a project to Angular 14, so I'll probably start on a PR here soon. I don't believe there will be any particular changes between 13 and 14 that would cause any issues.

[2022-08-14 02:35] codehippie1 commented on #190
I am out of country till school opening. But I should be able to merge changes from your PR. Please let me know once it is ready.

[2022-08-14 04:16] dereekb commented on #190
PR is created. Double check the changes, but all I did was bump the versions, create an ng-package.json file since they're required now apparently, merged those module declaration together, and ran build.

[2022-08-19 07:26] hemant-parmar opened #194 "npm ERR! code ERESOLVE - dependency on @angular/common@"^14.1.0""
Kindly update the package for the latest Angular dependency. I have upgraded to ng 14.1 and are stuck.
Below is the error message.

npm ERR! code ERESOLVE
npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR! While resolving: cops@0.0.0
npm ERR! Found: @angular/common@14.1.3
npm ERR! node_modules/@angular/common
npm ERR!   @angular/common@"^14.1.0" from the root project
npm ERR!
npm ERR! Co

[2022-08-19 07:28] #194 closed

[2022-08-19 07:30] hemant-parmar commented on #190
Awaiting for the update .. need it badly.. 4 apps affected.. Please help.

npm ERR! code ERESOLVE
npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR! While resolving: cops@0.0.0
npm ERR! Found: @angular/common@14.1.3
npm ERR! node_modules/@angular/common
npm ERR!   @angular/common@"^14.1.0" from the root project
npm ERR!
npm ERR! Could not resolve dependency:
npm ERR! peer @angular/common

[2022-08-19 08:40] hemant-parmar commented on #190
@dereekb

You mean the given reference  "ng2-pdfjs-viewer": "git+...."    should be added to the package.json file under dependencies?

[2022-08-19 08:44] MotassemJa commented on #190
Yes you can add it to your package.json. But this is a temporary solution

[2022-08-22 13:52] hemant-parmar commented on #190
@dereekb
I used your link as a temp solution in package.json. But got the below error:
`Error: NG04002: Cannot match any routes. URL Segment: 'assets/pdfjs/web/viewer.html'`

Note that I have the below in the angular.json file's options-assets (it was there for the prev version's implementation)
`              {
                "glob": "**/*",
                "input": "node_modules/ng2-pdfjs-viewe

[2022-08-22 19:51] dereekb commented on #190
Looks like the `dist` build didn't copy anything to `assets`, or rather there is no assets folder.

https://github.com/dereekb/ng2-pdfjs-viewer/tree/feat/angular14-dist

However, it looks like all the assets content is in `/pdfjs` instead of `/assets/pdfjs`.

https://github.com/intbot/ng2-pdfjs-viewer

My "guess" is that the assets folder isn't used anymore or is used to prevent non-breaking chang

[2022-08-31 17:31] codehippie1 commented on #190
I will return from vacation on Sep 12th. I could merge this the same week. Anyone interested in being a maintainer, let me know, would be happy to share the responsibilities.

[2022-09-15 16:40] NotTheSamAdamsGuy commented on #190
Any updates on the release for this? Thank you!

[2022-09-26 07:48] Toso82 commented on #190
When exit new release?

[2022-09-26 19:09] #190 closed

[2022-09-26 21:39] sgabb commented on #190
Thanks, that's great!

[2022-10-18 08:07] nina-fahmida opened #195 "How to change Background color?"
Please help me to change **Background Color** other than black.

![image](https://user-images.githubusercontent.com/51970447/196372957-931ee601-e987-44a8-bda5-01f5430bfdaa.png)

[2022-11-14 14:37] ruempel opened #196 "Open external window in specific target"
I can open a PDF document with `[externalWindow]="true"` in a new window or tab. Using `externalWindowOptions` I only managed to pass options from `windowFeatures` documented in https://developer.mozilla.org/en-US/docs/Web/API/Window/open, but I was not able to pass a `target` to e. g. open the next PDF document in the same window or tab as the first document.

How can I open a PDF document in a s

[2022-11-23 13:26] SoyDiego commented on #177
Have the same problem here. On Iphone (Browser Chrome) doesn't work.
Hope can fix that.

Thanks!

[2022-11-28 06:29] plaskowski-solwit opened #197 "Add support for Angular 15"
Hi!

Please update peer deps to support Angular 15 and create new release.

Regards

[2022-11-28 07:56] angelthebault commented on #197
That is to prevent npm from crashing on the command install with the following error :

` npm` ERR! ERESOLVE unable to resolve dependency tree

A big thank you for the work on this library. Very easy to use and yet so powerfull !